/*头部*/
header{
	position: relative;
    overflow: hidden;
}
header .pc-nav {
	width:1050px;
	margin: 0 auto;
	height: 100px;
	line-height: 100px;
	z-index: 22;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%,0);
}
header .pc-nav ul{
	display: inline-block;
	width: 100%;
}
header .pc-nav ul li{
	display: inline-block;
	width: 13.334%;
	text-align: center;
	position: relative;
	float: left;
}
header .pc-nav  ul li a{
	color: #333;
}
header .pc-nav  ul li a:before{
	color:#27ccff;
    content: attr(data-hover);
    position: absolute;
    opacity: 0;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    -webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    -moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;

}
header.pc-nav  ul li:hover a::before{
	-webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
    -moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
    transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
    opacity: 1;
}
header .pc-nav  ul li:hover a{
	text-decoration: none;
}
header .pc-nav  ul li:after,
.weiai-active-nav:after{
	content: '';
	display: inline-block;
	width:70px;
	height: 2px;
	background: #4092f4;
	position: absolute;
	bottom: 25px;
	left: 35px;
    transition: transform 0.3s;
    transform: scaleX(0);
}
header .pc-nav  ul li:hover:after{
    transform: scaleX(1);
}
#canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#background-canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
.wana .weiai-active-nav:after,
.weiai-active-nav:after{
    transform: scaleX(1) !important;
}
.wana.weiai-active-nav:after,
.wana:hover:after{
	width: 34px;
    left: 53px;
}
.weiai-active-nav a{
	color: #27ccff;
}
.register a,
.login a{
	color: #333;
	padding: 10px 20px;
	position: relative;
}
.register:hover:after,
.login:hover:after{
	content: "";
	display: none;
}
.register a::before,
.login a::before{
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #000;
    -webkit-transform: scaleY(.3);
    transform: scaleY(.3);
    opacity: 0;
    transition: all .3s;
    border-radius: 3px;
}
.register:hover a:before,
.login:hover a:before {
	opacity: 1;
    background-color: #ddd;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    transition: -webkit-transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity .4s;
    transition: transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity;
}
.register:hover a,
.login:hover a{
	color: #4092f4;
}
header .pc-nav  .mainlogo,
.menu ul .mainlogo{
	width: 20%;
	height: 120px;
	overflow: hidden;
	background: #fff url(../image/logovs.jpg) no-repeat center;
	box-shadow:0px 1px 5px 0 rgba(0, 121, 249, 0.5);
	border-radius: 3px;
}
.menu ul .mainlogo {
    width: auto;
    box-shadow: none;
}
.mainlogo:hover:after{
	display: none;
}
.mainlogo a{
	display: inline-block;
	width: 100%;
	height: 100px;
}
header .swiper-container{
	height: 600px;
}
header .swiper-container  .swiper-slide:nth-of-type(1){
	background: url(../image/index-banner2.png) no-repeat center;
	background-size: cover;
}
header .swiper-container  .swiper-slide:nth-of-type(2){
	background: url(../image/index-banner1.png) no-repeat center;
	background-size: cover;
}
header .swiper-container  .swiper-slide:nth-of-type(3){
	background: url(../image/index-banner2.png) no-repeat center;
	background-size: cover;
}
header .swiper-container  .swiper-slide:nth-of-type(4){
	background: url(../image/index-banner1.png) no-repeat center;
	background-size: cover;
}
header .swiper-container .swiper-pagination{
	bottom: 95px;
}
header .swiper-pagination-bullet{
	width: 45px;
	height: 5px;
	border:1px solid #4092f4;
	border-radius: 3px;
	background: #fff;
	opacity: 1;
}
header .swiper-pagination-bullet-active{
	background: #27ccff;
}
.swiper-arrow .swiper-button-prev{
	background-image: url(../image/right.png);
}
.swiper-arrow .swiper-button-next{
	background-image: url(../image/left.png); 
}
.swiper-arrow .swiper-button-prev, .swiper-arrow .swiper-button-next{
	position: relative;
	left: 0;
	right: 0;
	background-size: 60%; 
	background-color: #fff;
	border:1px solid #4092f4;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	display: inline-block;
}
.swiper-arrow,.swiper-arrowb{
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translate(-50%,0);
	width: 100px;
	height: 40px;
	z-index: 222;
}
.swiper-arrowb{
    transform: none;
    top: 180px;
    left: 70px;
}
.text-swiper{
	max-width: 1170px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	text-align: center;
}
.text-swiper p:nth-of-type(1) {
	font-size: 48px;
	margin-bottom: 30px;
	color: #4092f4;
}
.text-swiper-tow p:nth-of-type(1) {
	font-size: 60px;
}
.text-swiper p:nth-of-type(2) {
	font-size: 32px;
	margin-bottom: 45px;
}
.text-swiper p:nth-of-type(3) {
	font-size: 18px;
	color: #999;
	margin-bottom: 60px;
}
.text-swiper p:nth-of-type(4) a{
	display: inline-block;
	width: 140px;
	color: #fff;
    font-size: 16px;
    line-height: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 4px #9ac3fa;
    background: repeat-y center url(../image/banner-but-black.png);
}
/*第二屏*/
.second-screen{
	width: 100%;
	min-height: 908.2px;
	background: #40a6f4 url(../image/index-second-black.png);
}
.second-screen-main{
	width: 1170px;
	margin:0 auto;
	overflow: hidden;
}
.sdse-ma-top{
	width: 100%;
	margin-top: 65px;
}
.thsc-top-icon p i{
	color:#27ccff;
}
.sdse-ma-bot{
	width: 100%;
	margin-top: 80px;
	min-height: 519px;
}
.sdse-ma-top p{
  text-align: center;
  color: #fff;
  font-size: 32px;
  padding:5px 0;
}
.sdse-ma-top p:nth-of-type(1) i{
	font-size: 50px;
}
.sdse-ma-top p:nth-of-type(3){
	width: 65px;
	height: 2px;
	background: #fff;
	margin: 10px auto 0;
	padding: 0;
}
.sdse-ma-bot-main{
	transition: top 0.35s ease-in-out;
	width: 30%;
	background: #fff;
	float:left;
	position: relative;
	top: 0;
}
.sdse-ma-bot-main:hover{
	top: -50px;
	box-shadow: 0 10px 20px -4px rgba(0,0,0,0.6);
}
.afaddb.animated{
     animation-duration: 1.2s;
}
.afaddc.animated{
     animation-duration: 1.3s;
}
.sdse-sm-6{
	margin:0 5%;
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100px);
    }   100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInUp {
    0% {
        opacity: 0;
        -moz-transform: translateY(40px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes fadeInUp {
    0% {
        opacity: 0;
        -o-transform: translateY(40px);
    }

    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(140px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.sdse-ma-bot-main div p{
	text-align: center;
}
 .case-item-img {
    width: 132px;
    padding-top: 20px;
    padding-bottom: 18px;
    margin: 0px auto;
    height: 162px;
}
 .case-item-img img {
    width: 113px;
    height: auto;
    max-width: 100%;
}
.ciio{
    width: 75px;
}
.case-item-text{
	font-size: 20px;
	color: #27ccff;
}
.case-item-footer{
	width: 100%;
	position: relative;
	padding-top: 50px;
}
.case-item-footer p img{
	width: 100%;
}
.case-item-but {
    cursor: pointer;
    position: absolute;
    width: 60px;
    height: 60px;
    line-height: 62px;
    text-align: center;
    border-radius: 30px;
    left: 50%;
    top: 20px;
    margin-left: -30px;
    background-color: #fff;
    box-shadow: 0px 10px 20px 0px #27ccff;
    transition-duration: 0.4s;
}
.case-item-but a{
	color: #27ccff;
	font-size: 40px;
}
.case-item-but:hover{
	background: #4092f4;
	 -moz-animation: Bounce 0.4s linear;
  -webkit-animation: Bounce 0.4s linear;
  animation: Bounce 0.4s linear;
}
@keyframes Bounce {
  0% {
    -moz-box-shadow: 0 0 0 10px #4092f4;
    -webkit-box-shadow: 0 0 0 10px #4092f4;
    box-shadow: 0 0 0 10px #4092f4;
    opacity: 1;
  }
  25% {
    -moz-box-shadow: 0 0 0 20px #4092f4;
    -webkit-box-shadow: 0 0 0 20px #4092f4;
    box-shadow: 0 0 0 20px #4092f4;
    opacity: 1;
  }
  50% {
    -moz-box-shadow: 0 0 0 10px #4092f4;
    -webkit-box-shadow: 0 0 0 10px #4092f4;
    box-shadow: 0 0 0 10px #4092f4;
    opacity: 1;
  }
  75% {
    -moz-box-shadow: 0 0 0 20px #4092f4;
    -webkit-box-shadow: 0 0 0 20px #4092f4;
    box-shadow: 0 0 0 20px #4092f4;
    opacity: 1;
  }
  100% {
    -moz-box-shadow: 0 0 0 10px #4092f4;
    -webkit-box-shadow: 0 0 0 10px #4092f4;
    box-shadow: 0 0 0 10px #4092f4;
    opacity: 1;
  }
}
.case-item-but:hover a{
	color: #fff;
}
/*第二屏*/
.third-screen{
	background: no-repeat center center url(../image/third-black.png) #FFFFFF;
    background-size: cover;
    min-height: 892px;
}
.third-screen-top{
	width: 100%;
    margin-top: 65px;
}
.third-screen-top p{
	text-align: center;
    color: #000;
    padding: 5px 0;
}
.third-screen-top p:nth-of-type(1) i{
	font-size: 40px;
	color: #27ccff;
}
.third-screen-top p:nth-of-type(2){
	font-size: 28px;
}
.third-screen-top p:nth-of-type(3){
	font-size: 16px;
	color: #444;
}
.third-screen-top p:nth-of-type(4){
	padding:25px 0;
}
.third-screen-top p:nth-of-type(4) span{
	display: block;
}
.third-screen-top p:nth-of-type(3) {
    width: 65px;
    height: 2px;
    background: #27ccff;
    margin: 10px auto 0;
    padding: 0;
}
*{
	 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.third-content {
    width: 420px;
    height: 420px;
    border: 2px solid #e9e9e9;
    border-radius: 210px;
    margin-top: 110px;
    margin-left: -210px;
    left: 50%;
    padding: 84px;
}
.third-content>div {
    border: 2px solid #e9e9e9;
    height: 100%;
    border-radius: 50%;
    padding: 74px;
}
.third-content>div>div {
    height: 100%;
    border-radius: 50%;
    background-color: #4092f4;
    text-align: center;
}
.third-content>div>div>span {
    font-size: 48px;
    color: #ffffff;
    line-height: 96px;
    text-align: center;
}
.third-item {
    cursor: pointer;
    position: absolute;
    font-size: 22px;
    width: 50px;
    height: 50px;
    background: #FFFFFF;
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0px 0px 20px 4px #9ac3fa;
}
.third-item>div {
    font-size: 14px;
    color: #333333;
    position: absolute;
}
.third-item-1 {
    top: 130px;
    left: 72px;
}
.third-item-2 {
    top: 130px;
    right: 72px;
}
.third-item-3 {
    top: 305px;
    left: 185px;
}
.third-item-4 {
    top: 258px;
    left: -10px;
}
.third-item-5 {
    top: 258px;
    right: -10px;
}
.third-item-6 {
    top: -25px;
    left: 185px;
}
.third-item-1>div, .third-item-4>div {
    top: 0px;
    left: -75px;
}
.third-item-2>div, .third-item-5>div {
    top: 0px;
    right: -74px;
}
.third-item-3 > div {
    top: 46px;
    width: 60px;
    right: -6px;
}
.third-item-6 > div {
    top: -46px;
    right: -4px;
    width: 60px;
}
/*第三屏*/
.fourth-screen {
    background: no-repeat center center url(../image/hand-black.png) #0199F1;
    background-size: cover;
    height:auto;
    overflow: hidden;
}
.container-poi {
    max-width: 1170px;
}
.container-poi p{
	text-align: center;
	margin-top: 80px;
}
.container-poi p i{
	font-size: 35px;
	color: #fff;
}
.container-poi {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.fourth-top {
    font-size: 32px;
    color: #fff;
}
.text-center {
    text-align: center;
}
.fourth-title {
    width: 160px;
    height: 1px;
    background-color: #FFF;
    margin: 18px auto 50px auto;
}
.time-axis {
    margin: 355px 0px 350px 0px;
    border-top: 2px solid #FFF;
}
.time-axis>div {
    position: absolute;
    background-color: #FFF;
}
.time-axis>div>.spot {
    position: absolute;
    background-image: url(../image/spot.png);
    width: 2px;
    left: 50%;
}
.time-axis-spot1, 
.time-axis-spot4, 
.time-axis-spot7 {
    top: -6px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}
.time-axis-spot2, 
.time-axis-spot3, 
.time-axis-spot5, 
.time-axis-spot8 {
    top: -9px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
}
.time-axis-spot1 {
    left: 6.33%;
}
.time-axis-spot2 {
    left: 18.75%;
}
.time-axis-spot3 {
    left: 30%;
}
.time-axis-spot4 {
    left: 42.92%;
}
.time-axis-spot5 {
    left: 55.4%;
}
.time-axis-spot6 {
    top: -12px;
    left: 68%;
    width: 22px;
    height: 22px;
    border-radius: 11px;
}
.time-axis-spot7 {
    left: 81.5%;
}
.time-axis-spot8 {
    left: 89%;
}
.time-axis-spot1>.spot, 
.time-axis-spot3>.spot, 
.time-axis-spot5>.spot, 
.time-axis-spot1>.spot, 
.time-axis-spot3>.spot, 
.time-axis-spot5>.spot, 
.time-axis-spot7>.spot {
    top: 0px;
}
.time-axis-spot2>.spot, 
.time-axis-spot4>.spot, 
.time-axis-spot6>.spot, 
.time-axis-spot8>.spot {
    bottom: 0px;
}
.time-axis-spot1>.spot, 
.time-axis-spot4>.spot, 
.time-axis-spot7>.spot {
    margin: 20px 0px 20px -1px;
}
.time-axis-spot2>.spot, 
.time-axis-spot3>.spot, 
.time-axis-spot5>.spot, 
.time-axis-spot8>.spot {
    margin: 26px 0px 26px -1px;
}
.time-axis-spot1>.spot {
    height: 90px;
}
.time-axis-spot2>.spot {
    height: 144px;
}
.time-axis-spot3>.spot {
    height: 120px;
}
.time-axis-spot4>.spot {
    height: 88px;
}
.time-axis-spot5>.spot {
    height: 120px;
}
.time-axis-spot6>.spot {
    height: 140px;
}
.time-axis-spot7>.spot {
    height: 90px;
}
.time-axis-spot8>.spot {
    height: 90px;
}
.time-axis-item {
    position: absolute;
    width: 98px;
    border-radius: 49px;
    height: 98px;
    padding: 8px;
    margin-left: -49px;
}
.time-axis-item>div {
    border-radius: 50%;
    height: 100%;
    background:rgba(37, 169, 247, 0.56);
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    text-align: center;
    transition: all linear 0.5s;
}
.time-axis-item>p {
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    margin: 18px 0px;
}
.time-axis-item>div>span {
    line-height: 82px;
    font-size: 40px;
}
.time-axis-item:hover {
    border: 1px solid #FFFFFF;
}
.time-axis-item:hover>div {
    color: #4092f4;
    background: #FFFFFF;
}
/*第三屏*/
.relation-us{
	width: 100%;
	background: #fff;
}
.relation-us-main{
	width: 1170px;
	margin:0 auto;
	height: auto;
	overflow: hidden;
}
.relation-us-top{
	margin-top: 80px;
}
.relation-us-top p{
	text-align: center;
	color: #4092f4;
	margin-bottom: 15px;
}
.relation-us-top p:nth-of-type(1) i{
	font-size: 35px;
}
.relation-us-top p:nth-of-type(2){
	color: #333;
	font-size: 27px;
}
.relation-us-top p:nth-of-type(3) {
	width: 100px;
	height: 1px;
	background: #4092f4;
	margin:0 auto;
}
.rela-us-tp-main{
	width: 80%;
	margin:40px auto 0;
}
.rela-us-tp-main div{
	display: inline-block;
	width: 250px;
	margin-left: 55px;
}
.rela-us-tp-main div p{
	display: inline-block;
	float: left;
}
.rela-us-tp-main div p:nth-of-type(1) {
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border-radius: 50%;
	border:1px solid #4092f4;
	color: #4092f4;
	margin:0 5px;
}
.rela-us-tp-main div p:nth-of-type(1) span{
	font-size: 30px;
}
.rela-us-tp-main div p:nth-of-type(2) span{
	display: block;
	padding: 6px 0 0px 0;
	font-size: 15px;
	color: #333;
}
.rela-us-tp-main div p:nth-of-type(2) span:nth-of-type(2){
	font-size: 16px;
	color: #000;
}
.rela-us-inpt{
	width: 100%;
}
.rela-us-inpt div p{
	width: 48%;
	float: left;
}
.rela-us-inpt div p:nth-of-type(1){
	margin-right: 4%;
}
.rela-us-inpt div p input{
	width: 100%;
	height: 45px;
	border:1px solid #ddd;
	padding: 20px;
	margin:50px 0 25px;
}
.rela-us-inpt div p input:focus,
.rela-us-text textarea:focus{
	border-color: #27ccff;
}
.rela-us-text textarea{
	width: 100%;
	padding: 15px;
	height: 200px;
	border:1px solid #ddd;
}
.rela-us-butom{
	width: 100%;
	margin:30px auto;
	text-align: center;
}
.rela-us-butom a{
	display: inline-block;
	width: 140px;
	height: 40px;
	line-height: 36px;
	border:2px solid #27ccff;
	border-radius: 20px;
	text-align: center;
	background: #fff;
	color: #27ccff;
	margin:0 20px;
}
.rela-us-butom a:nth-of-type(1){
	background: #4092f4;
	color: #fff;
	line-height: 40px;
	border:none;
}
/*关于我们*/
.about-header{
    background: linear-gradient(135deg, #2a99ef 20%, #52d9e5 80%);
}
.about-header nav  ul li a{
    color: #fff;
}
.about-header nav  ul li:hover:after, 
.about-header .weiai-active-nav:after{
    background: #fff;
    transform: scaleX(1)
}
.about-header nav  ul li:hover a::before{
    color: #fff;
}
.about-header .mainlogo{
    box-shadow: 0px 1px 5px 0 rgba(84, 84, 84, 0.68);
}
.about-header .mainlogo span:nth-of-type(2){
    color: #27ccff;
}
.about-header .text-swiper p:nth-of-type(1),
.about-header .text-swiper p:nth-of-type(2){
    color: #fff;
}
.about-header .text-swiper p:nth-of-type(1){
    font-size: 40px;
}
.about-header .text-swiper p:nth-of-type(2) {
    font-size: 25px;
}
.about-header .text-swiper p:nth-of-type(3){
    color: #eee;
}
.about-header .swiper-pagination-bullet-active{
    background: #fff;
}
.about-header .swiper-button-prev.swiper-button-disabled, 
.about-header .swiper-button-next.swiper-button-disabled{
    opacity: 1;
}
.about-header .text-swiper p:nth-of-type(4) a{
    background:#fff none; 
    color: #27ccff;
}
.about-header .text-swiper{
    left: 10%;
    text-align: left;
    transform: translate(0,-50%);
}
.about-header .text-swiper p:nth-of-type(3){
    margin-bottom: 0;
}
.about-header .swiper-container  .swiper-slide:nth-of-type(1){
    background-image: none; 
}
/*飞机与云*/
/**/
.frame {
  height: auto;
  margin: 15% auto 0;
  position: absolute;
  width: 100%;
  top: 0;
}


/**
 * Paper Plane
 */
/*Paper Plane: Container*/
.plane-container {
  width: 200px;
  margin: 0px auto;
  z-index: 3;
}
 /*Paper Plane: Image*/
.plane {
  width: 100%;
  height: 60px;
}

/*Paper Plane: Animation*/
.plane-container {
  -webkit-animation: paper-plane-scoping 2s alternate infinite;
  -moz-animation: paper-plane-scoping 2s alternate infinite;
  animation: paper-plane-scoping 2s alternate infinite;

  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes paper-plane-scoping {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    transform: translateY(100px);
  }
}

.plane {
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;

  -webkit-animation: paper-plane-soaring 4s forwards infinite;
  -moz-animation: paper-plane-soaring 4s forwards infinite;
  animation: paper-plane-soaring 4s forwards infinite;
}
@-webkit-keyframes paper-plane-soaring {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  60% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  70% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

/**
 * Clouds
 */
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transform: translateZ(0);
}

.cloud {
  position: absolute;
  top: 20%;
  width: 300px;
  right: 0;
  opacity: 1;
}

.cloud.front {
  z-index: 9;
}

.cloud.distant {
  z-index: 1;
}

.cloud.background {
  z-index: 1;
}

/*Cloud Sizing*/
.cloud.smaller {
  margin-right: 400px;
  width: 100px;
  margin-top: 50px;
}

.cloud.small {
  margin-right: 200px;
  width: 150px;
}

.cloud.big {
  width: 500px;
  margin-top: 50px;
  margin-right: 150px;
}

.cloud.massive {
  width: 600px;
  margin-top: 20px;
  margin-right: 0px;
}


/*Cloud: Animation*/
.cloud {
  -webkit-animation-name: cloud-movement;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;

  -moz-animation-name: cloud-movement;
  -moz-animation-timing-function: linear;
  -moz-animation-direction: forwards;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 8s;

  animation-name: cloud-movement;
  animation-timing-function: linear;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}

.slow {
  -webkit-animation-duration: 9.2s;
  -moz-animation-duration: 9.2s;
  animation-duration: 9.2s;
}

.slower {
  -webkit-animation-duration: 11.2s;
  -moz-animation-duration: 11.2s;
  animation-duration: 11.2s;
}

.slowest {
  -webkit-animation-duration: 13.5s;
  -moz-animation-duration: 13.5s;
  animation-duration: 13.5s;
}

.super-slow {
  -webkit-animation-duration: 20.5s;
  -moz-animation-duration: 20.5s;
  animation-duration: 20.5s;
}

@-webkit-keyframes cloud-movement {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    transform: translateX(300px);
  }
  10% {

    opacity: 0.7;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-1000px);
    -moz-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
}
/*第一屏*/
.about-develop{
    width: 100%;
    height: auto;
    background: #fff;
}
.about-delop-main{
    width: 1170px;
    margin:0 auto;
    height: auto;
    overflow: hidden;
    position: relative;
}
.about-delop-header{
    margin-top:70px;
    color:#333;
    text-align: center;
}
.about-delop-header p:nth-of-type(1){
    font-size: 27px;
}
.about-delop-header p:nth-of-type(2),
.avFeaturesRapper-p{
    width: 110px;
    height: 1px;
    background-color: #4092f4;
    position: relative;
    margin:20px auto 30px;
}
.avFeaturesRapper-p{
    background: #fff;
    margin:10px auto 0;
}
.about-delop-header p:nth-of-type(2):after,
.avFeaturesRapper-p:after{
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    left: 50%;
    transform: translate(-50%,0);
    border-width: 10px;
    border-style: solid;
    border-color: #4092f4 transparent transparent transparent;
}
.avFeaturesRapper-p:after{
     border-color: #fff transparent transparent transparent;
}
.about-delop-center{
    margin-top: 80px;
}
.about-dpct-right{
    float: right;
    width: 100%;
    min-height: 400px;
}
.about-dpct-right .swiper-container{
    height: 400px;
}
.about-dpct-right .swiper-container {
    width: 100%;
}
.about-dpct-right .swiper-slide{
  
}
.about-dpct-lefta{
    width: 60%;
    float: left;
    padding: 0 80px;
    height: 400px;
}
.about-dpct-lefta p:nth-of-type(1) {
    font-size: 25px;
    color: #000;
    position: relative;
}
.about-dpct-lefta p:nth-of-type(1):after{
    content: "";
    display: inline-block;
    width:40px;
    height: 2px;
    left: 2px;
    background: #4092f4;
    position: absolute;
    bottom: -10px;
}
.about-dpct-lefta p:nth-of-type(2){
    font-size: 16px;
    color: #666;
    margin:30px 0 0;
}
.swiper-arrowb .swiper-button-prev, 
.swiper-arrowb .swiper-button-next{
    background-image: none; 
}
.swiper-arrowb .swiper-button-prev i, 
.swiper-arrowb .swiper-button-next i{
    font-size: 30px;
    color: #4092f4;
}
.swiper-arrowb .swiper-button-prev{
    transform: rotateY(180deg);
}
.about-right-bg{
    width: 40%;
    float:left;
    height: 400px;
    border-radius: 5px;
}
.arbg1{
     background: url(../image/bg1.jpg) no-repeat center; 
     background-size: cover; 
}
.arbg2{
    background: url(../image/bg2.png) no-repeat center; 
     background-size: cover; 
}
.arbg3{
    background: url(../image/bg3.jpg) no-repeat center; 
    background-size: cover; 
}
/*二*/
.banner-centerbg{
    width: 100%;
    height:240px;
    margin-top: 80px;
    background: linear-gradient(120deg, #00c6ff 0%, #0072ff 100%);
    position: relative;
}
#canvas-wrapper{
    position: absolute;
    top: 0;
    height: 240px;
    overflow: hidden;
    width: 99.8%;
}
.banner-centerbg-main{
    text-align: center;
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
   transform: translate(-50%,-50%);
}
.banner-centerbg-main p{
    padding:10px 0;
}
/*三*/
.technology-team{
    width: 100%;
    background: #f6f6f6;
    padding-bottom: 100px;
}
.technology-team-mainb{
    display: none;
}
.technology-team-main,
.technology-team-mainb{
    width: 100%;
    min-height: 500px;
    margin-top: 80px;
}
.technology-team-main .swiper-container,
.technology-team-mainb .swiper-container{
    height: 570px;
    padding-bottom: 50px;
}

.technology-team-main .swiper-slide,
.technology-team-mainb .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    padding:42px;
}
.technology-team-ma-a .swiper-slide div:nth-of-type(2),
.technology-team-ma-ab .swiper-slide div:nth-of-type(2){
    font-size: 22px;
    padding:20px 0;
}
.technology-team-ma-a .swiper-slide div:nth-of-type(3) p,
.technology-team-ma-ab .swiper-slide div:nth-of-type(3) p{
    font-size: 16px;
    padding-bottom: 20px;
    text-align: left;
}
/*四*/
.core-value{
    padding-bottom: 80px;
}
.core-value-maina{
    margin-top: 70px;
}
.core-value-main{
    width: 350px;
    float: left;
}
.core-value-main:nth-of-type(2){
    margin:0 60px;
}
.core-value-main div p{
    display: inline-block;
    float: left;
}
.core-value-main div p img{
    width: 80px;
}
.core-value-main div p:nth-of-type(1){
    width:100px;
    text-align: center;
}
.core-value-main div p:nth-of-type(2){
    width: 250px;
}
.core-value-main div p span{
    display: block;
}
.core-value-main div p span:nth-of-type(1) {
    font-size: 18px;
    color: #000;
    margin: 8px 0 5px 0;
}
.core-value-main div p span:nth-of-type(2) {
    font-size: 14px;
    color: #666;
}
/*五*/
.number-data{
    width: 100%;
    height: 200px;
    margin-top: 50px;
    position: relative;
    background: #4092f4;
}
.banner-ctbgau{
    position: absolute;
    top:0;
    width: 100%;
    height: 200px;
    background: url(../image/bgabout.png) no-repeat center;
}
.number-datamain{
    width: 80%;
    margin:0 auto;
}
.number-datamain div{
    width:25%;
    height: 200px;
    float:left;
    color: #fff;
    position: relative;
}
.number-datamain div p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 14px;
}
.number-data p span{
    display: block;
}
.number-data p span:nth-of-type(1){
    font-size: 30px;
    position: relative;
}
.number-data div:nth-of-type(2) p span:nth-of-type(1):before{
    content: "+";
    position: absolute;
    left: 58px;
}
.number-data div:nth-of-type(3) p span:nth-of-type(1):before{
    content: "%";
    position: absolute;
    left: 58px;
}
/*六*/
.cooperative-partner{
    padding-bottom:50px;
}
.cooperative-partner-main{
    margin-top: 70px;
}
.cooperative-partner-mtop{
    width: 100%;
    overflow: hidden;
}
.cooperative-partner-mtop div{
    width: 25%;
    height: 200px;
    float: left;
}
.cooperative-partner-mtop div:hover{

}
.cooperative-partner-mtop div:nth-of-type(1) {
    background: #fff url(../image/case1.png) no-repeat center;
    background-size: inherit; 
}
.cooperative-partner-mtop div:nth-of-type(2) {
    background: #fff url(../image/case22.png) no-repeat center;
    background-size: 40%; 
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
.cooperative-partner-mtop div:nth-of-type(3) {
    background: #fff url(../image/case4.jpg) no-repeat center;
    background-size: 50%; 
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
.cooperative-partner-mtop div:nth-of-type(4) {
    background: #fff url(../image/case1.png) no-repeat center;
    background-size: inherit; 
}
.coopmtopbootm div:nth-of-type(1) {
    background: #fff url(../image/case_logo.png) no-repeat center;
    background-size: inherit; 
}
.coopmtopbootm div:nth-of-type(2) {
    background: #fff url(../image/case-logo.png) no-repeat center;
    background-size: 60%; 
}
.coopmtopbootm div:nth-of-type(3) {
    background: #fff url(../image/case-logo3.jpg) no-repeat center;
    background-size: 80%; 
}
.coopmtopbootm div:nth-of-type(4) {
    background: #fff url(../image/case1.png) no-repeat center;
    background-size: inherit; 
}
.coopmtopbootm{
    border-top: 1px solid #eee;
}
/*线条离子*/
#particle-canvas {
  width: 100%;
  height: 100%;
  position: absolute !important;
  top: 0;
  z-index: 0;
}
.inder{
    position: absolute;
    top: 0;
    left: 0;
    height: 600px;
    overflow: hidden;
}
.headline-bg{
    height: 240px;
    overflow: hidden;
}
/*经典案例页面*/
.avFeaturesContainer {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}
.avFeaturesRapper-img{
    position: absolute;
    bottom: 0;
    right: 200px;
}
.avFeaturesRapper {
  position: relative;
  width: 100%;
  height: 809px;
  perspective: 1000px;
  background:#4092f4;
  font-weight: 300;
}

.avFeaturesRapper h1 {
  color: #fff;
  display: block;
  text-align: center;
  padding-top: 45px;
  font-size: 27px;
  font-weight: 300;
}
.screenRap {
  width: 1519px;
  height: 623px;
  position: absolute;
  top: 142px;
  right: -81px;
  z-index: 3;
  transform: scale(0.34) rotateX(0deg) rotateZ(6deg) rotateY(-5deg) skewX(-8deg) skewY(0deg);
  -webkit-transform: scale(0.34) rotateX(0deg) rotateZ(6deg) rotateY(-5deg) skewX(-8deg) skewY(0deg);
  -moz-transform: scale(0.34) rotateX(0deg) rotateZ(6deg) rotateY(-5deg) skewX(-8deg) skewY(0deg);
}

.screenRap div {
  width: 270px;
  height: 271px;
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  float: left;
  cursor: pointer;
  margin: 8px;
  text-indent: -9999px;
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  position: relative;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.23) 19px 19px 30px;
  left: 0;
}

.screenRap:hover div {
  animation: none !important;
}

.screenRap div:hover {
  z-index: 2;
  left: -70px !important;
  transform: scale(1.8, 1.8) !important;
}

.screenRap .avTile {
  background: url(../image/avTile.jpg) no-repeat;
}
.avTile a{
    width: 100%;
    height: 100%;
    display: block;
}
.screenRap .firewallTile {
  background: url(../image/firewallTile.jpg) no-repeat;
}

.screenRap .backupTile {
  background: url(../image/backupTile.jpg) no-repeat;
  animation: tileLoadScale .6s 2.2s forwards;
  -webkit-animation: tileLoadScale .6s 2.2s forwards;
  -moz-animation: tileLoadScale .6s 2.2s forwards;
}

.screenRap .vulnerabilitiesTile {
  background: url(../image/vulnerableTile.jpg) no-repeat;
}

.screenRap .spamfilterTile {
  background: url(../image/spamfilterTile.jpg) no-repeat;
  animation: tileLoadScale .6s 2.7s forwards;
  -webkit-animation: tileLoadScale .6s 2.7s forwards;
  -moz-animation: tileLoadScale .6s 2.7s forwards;
}

.screenRap .smpTile {
  background: url(../image/smpTile.jpg) no-repeat;
  animation: tileLoadScale .6s 2s forwards;
  -webkit-animation: tileLoadScale .6s 2s forwards;
  -moz-animation: tileLoadScale .6s 2s forwards;
}

.screenRap .tuneupTile {
  background: url(../image/tuneupTile.jpg) no-repeat;
}

.screenRap .idpTile {
  background: url(../image/idpTile.jpg) no-repeat;
}

.screenRap .parentalTile {
  background: url(../image/parentalTile.jpg) no-repeat;
  animation: tileLoadScale .6s 2.4s forwards;
  -webkit-animation: tileLoadScale .6s 2.4s forwards;
  -moz-animation: tileLoadScale .6s 2.4s forwards;
}

.feature {
  position: absolute;
  opacity: 0;
  z-index: 3;
  transition: opacity .1s ease;
  -webkit-transition: opacity .1s ease;
  -moz-transition: opacity .1s ease;
  width: 30%;
  top: 188px;
  left: 95px;
}

.feature.active {
  opacity: 1;
}

.feature h2 {
  font-size: 37px;
  padding: 12px 0 10px 72px;
  margin: 0 0 10px -120px;
  opacity: 0;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
}

.feature.active h2 {
  opacity: 1;
  margin: 0 0 10px -72px;
  color: #fff;
  font-weight: 400;
}

.feature div {
  width: 0;
  opacity: 0;
  transition: width .3s ease, opacity .7s ease;
  -webkit-transition: width .3s ease, opacity .7s ease;
  -moz-transition: width .3s ease, opacity .7s ease;
}

.feature.active div {
  width: 100%;
  opacity: 1;
}

.feature div span {
  width: 100%;
  border-top: #fff solid 1px;
  height: 1px;
  display: block;
  opacity: .4;
}

.feature p {
  font-size: 15px;
  color: #fff;
  line-height: 1.8;
  padding: 32px 32px 0 0;
  opacity: 0;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
}

.feature.active p {
  opacity: 1;
}

.smallNotice {
  font-style: italic;
  opacity: .5;
  font-size: 11px;
}

.avFeature h2 {
  background: url(../image/case1.png) left center no-repeat;
  background-size: 10%; 
}

.firewallFeature h2 {
  background: url(../image/case22.png) left center no-repeat;
  background-size: 10%; 
}

.backupFeature h2 {
  background: url(../image/case3.png) left center no-repeat;
  background-size: 6%; 
}

.vulnerabilitiesFeature h2 {
  background: url(../image/vulnerabilitiesIcon.png) left center no-repeat;
}

.spamfilterFeature h2 {
  background: url(../image/spamfilterIcon.png) left center no-repeat;
}

.smpFeature h2 {
  background: url(../image/smpIcon.png) left center no-repeat;
}

.tuneupFeature h2 {
  background: url(../image/tuneupIcon.png) left center no-repeat;
}

.idpFeature h2 {
  background: url(../image/idpIcon.png) left center no-repeat;
}

.parentalFeature h2 {
  background: url(../image/parentalIcon.png) left center no-repeat;
}

.hoverIcon {
  background: url(../image/mouseHoverIcon.png) center top no-repeat;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  position: absolute;
  bottom: 28px;
  width: 140px;
  text-align: center;
  left: 50%;
  margin-left: -192px;
  padding-top: 41px;
}

@keyframes tileLoadScale {
  0% {}
  50% {
    transform: scale(1.4, 1.4);
    left: -50px;
    z-index: 2;
  }
  100 {}
}

@-webkit-keyframes tileLoadScale {
  0% {}
  50% {
    transform: scale(1.4, 1.4);
    -webkit-transform: scale(1.4, 1.4);
    -moz-transform: scale(1.4, 1.4);
    left: -50px;
    z-index: 2;
  }
  100 {}
}

@-moz-keyframes tileLoadScale {
  0% {}
  50% {
    transform: scale(1.4, 1.4);
    -moz-transform: scale(1.4, 1.4);
    -moz-transform: scale(1.4, 1.4);
    left: -50px;
    z-index: 2;
  }
  100 {}
}

/*公司招聘*/
.mainzp {
    padding: 40px 0 90px 0;
}
.mainzp .containerzp {
    position: relative;
    width: 1200px;
    margin: 0px auto;
}
.mainzp .left {
    width: 500px;
    height: 100%;
    line-height: 100%;
    float: left;
}
.mainzp .left img {
    width: 100%;
    vertical-align: middle;
    padding-top: 50px;
}
.mainzp .right {
    width: 700px;
    float: right;
    padding-top: 30px;
}
.mainzp .containerzp:after {
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.zhaop_info {
    line-height: 24px;
    color: #999;
    padding-bottom: 20px;
    font-size: 14px;
    border-bottom: 1px solid #efefef;
    margin-bottom: 10px;
}
.zhaop_info p {
    padding-bottom: 15px;
}
.zhaop_info span {
    color: #00aaee;
}
.mainzp .right p {
    line-height: 30px;
    color: #787878;
    font-size: 14px;
}
.mainzp .right p a {
    color: #0d91f6;
}
.mainzp .content .child {
    border-bottom: 1px solid #efefef;
}
.mainzp .content .child .childTitle {
    padding: 15px 10px;
}
.mainzp .content .child .childIcon {
    cursor: pointer;
    float: left;
    margin-right: 18px;
    position: relative;
    width: 30px;
    height: 30px;
    background: #666;
}
.mainzp .content .child .childIcon {
    transition-duration: .5s;
    -ms-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -webkit-transition-duration: .5s;
}
.mainzp .content .child .childIcon .sub {
    position: absolute;
    height: 2px;
    top: 14px;
    left: 9px;
    width: 12px;
    height: 2px;
    background: #fff;
}
.mainzp .content .child .childIcon .sub2 {
    transition-duration: .5s;
    -ms-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -webkit-transition-duration: .5s;
}
.mainzp .content .child .childIcon .sub.sub2 {
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
.mainzp .content .child .title {
    line-height: 30px;
    color: #333333;
    font-size: 14px;
}
.mainzp .content .child .childContent {
    display: none;
    border-top: 1px dashed #ddd;
    padding: 5px 10px 10px 10px;
    color: #666;
    line-height: 22px;
    font-size: 14px;
    background-color: #fff;
}
.xueli strong {
    float: left;
    line-height: 40px;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.mainzp .content .child:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}
.mainzp .content .child .childIcon:hover {
    background: #8e8e8e;
}
.mainzp .content .child  .active .childIcon .sub2 {
    transform: rotate(90deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}
@media (max-width: 1920px) and (min-width: 1366px){
    
    .mainzp .containerzp {
        width: 1200px;
        padding: 0;
    }
}
@media (max-width: 1199px) and (min-width: 1024px){
    
    .mainzp .containerzp {
        width: 980px;
    }
    .mainzp .left img {
    padding-top: 100px;
    }
    .mainzp .left {
    width: 440px;
    }
        .mainzp .right {
        width: 530px;
        padding-top: 50px;
    }
}
@media (max-width: 1023px) and (min-width: 640px){
    .mainzp .containerzp {
    width: 600px;
    }
        .mainzp .left {
        width: 100%;
        height: auto;
        line-height: normal;
        float: none;
        text-align: center;
    }
    .mainzp .right {
        width: 100%;
        float: none;
        padding-top: 20px;
    }
    .mainzp .content {
        margin-top: 14px;
    }
    .mainzp .content .child {
        padding: 0;
    }
    .mainzp .content .child .childContent {
        padding: 26px 0 10px 0;
        line-height: 22px;
        font-size: 14px;
    }
    .mainzp .right p {
        line-height: 30px;
        font-size: 14px;
    }
}
@media (max-width: 639px){
    .mainzp .containerzp {
        width: 93.75%;
        overflow: hidden;
    }
    .mainzp .content {
    margin-top: 14px;
}
    .mainzp .right{
            padding-top: 10px;
    }
    .mainzp .left img {
    padding-top: 20px;
}
    .mainzp .left {
    width: 100%;
    height: auto;
    line-height: normal;
    float: none;
    text-align: center;
}
.mainzp .right {
    width: 100%;
    float: none;
    padding-top: 10px;
}
.mainzp .content .child {
    padding: 0;
}
}
/*折纸动画*/
.cf {display:block;zoom:1;}
*html .cf {height:1%;}// Hides from IE-mac
.cf:after {content:" ";display:block;height:0;clear:both;visibility:hidden;}
.cf{*zoom:1;}
.maskov{
    overflow: hidden;
}
.mask {
  display: none;
  position: fixed !important;
  height: 100% !important;
  width: 100% !important;
  top: 0px !important;
  left: 0px !important;
  background: #000000 !important;
  opacity: 0.66 !important;
  z-index: 666666 !important;
}
.resume {
  position: relative;
  width: 980px;
  height: 680px;
  margin: 0 auto;
  margin-top: 10px;
  z-index: 666667;
}
.re_content {
  position: relative;
  width: 100%;
  height: 480px;
  background: #45b465;
}
.profile-button {
  position: absolute;
  width: 20%;
  right: 45px;
  top: 0;
  bottom: 0;
  margin-top: -45px;
}
.spokey {
  position: absolute;
  display: block;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 160px;
  max-height: 160px;
  font-weight: normal !important;
  -webkit-transform: rotate(0deg) scale(0) skew(0deg) translate(0px);
  -moz-transform: rotate(0deg) scale(0) skew(0deg) translate(0px);
  -o-transform: rotate(0deg) scale(0) skew(0deg) translate(0px);
  -ms-transform: rotate(0deg) scale(0) skew(0deg) translate(0px);
  transform: rotate(0deg) scale(0) skew(0deg) translate(0px);
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.spokey .circ {
  width: 140px;
  height: 140px;
  position: absolute;
  z-index: 1;
  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  max-width: 130px;
  max-height: 130px;
  width: 130px;
  height: 130px;
  background-color: #096222;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.spokey .line {
  border-bottom: 1px solid #242424;
  border-color: #ccc;
  width: 20px;
  top: 160px;
  position: absolute;
  display: block;
  overflow: hidden;
  z-index: 0;
  height: 1px;
  -webkit-transform-origin: left 50%;
  -moz-transform-origin: left 50%;
  -ms-transform-origin: left 50%;
  -o-transform-origin: left 50%;
  transform-origin: left 50%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 1.2s ease-in-out;
  -moz-transition: all 1.2s ease-in-out;
  -o-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;
}
.spokey:hover .line {
  border-color: #242424;
}
.spokey:hover .circ {
  background-color: #0d9132;
}
.spokey img {
  position: absolute;
  display: block;
  z-index: 2;
  top: 50px;
  left: 50px;
  width: 60px;
}
.spokey span {
  position: relative;
  z-index: 2;
  display: block;
  width: 120px;
  padding-top: 44px;
  margin: 0 auto;
  color: #FFF;
  font-size: 16px;
  text-align: center;
}
.social_on {
  -webkit-transform: rotate(0) scale(1) skew(0) translate(0);
  -moz-transform: rotate(0) scale(1) skew(0) translate(0);
  -o-transform: rotate(0) scale(1) skew(0) translate(0);
  -ms-transform: rotate(0) scale(1) skew(0) translate(0);
  transform: rotate(0) scale(1) skew(0) translate(0);
}
.social_on .line {
  width: 220px;
}
.re_header {
  width: 100%;
  text-align: center;
}
.re_header h2 {
  margin: 50px auto;
  padding-top: 50px;
  margin-top: 0;
  font-size: 34px;
  word-spacing: 1px;
  line-height: 30px;
  font-family: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  color: #181818;
  text-shadow: 2px 2px 0 #45b465, 4px 4px 0 #eeeeee;
}
.re_con {
  color: #096222;
}
.re_con *:after,
.re_con *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.re_con span {
  padding-left: 8px;
}
.re_con .con_li {
  margin: 10px auto 10px 40px;
}
.re_con ul {
  float: left;
  margin: 4px auto auto 10px;
}
.re_con li {
  list-style: circle inside none;
  list-color: #FFF;
}
.re_con .con_li_last {
  float: left;
}
/* Effect 21: borders slight translate */
.effect strong {
  padding: 4px;
  color: #237546;
  font-weight: 700;
  text-shadow: none;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
  position: relative;
  display: inline-block;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 16px;
}
.effect strong::before,
.effect strong::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}
.effect strong::before {
  top: 0;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}
.effect strong::after {
  bottom: 0;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}
.effect strong:hover,
.effect strong:focus {
  color: #fff;
}
.effect strong:hover::before,
.effect strong:focus::before,
.effect strong:hover::after,
.effect strong:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}
.re_footer {
  position: relative;
  width: 100%;
  height: 180px;
  background: #eae7e2;
}
.re_footer::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px;
  border-color: #45b465 transparent transparent transparent;
}
.re_footer .coder {
  width: 200px;
  height: 180px;
  position: absolute;
  right: 60px;
  top: 0;
  text-align: center;
  background: url(../image/coder.jpg) no-repeat;
}
.re_footer .word {
  position: absolute;
  left: 60px;
  top: 66px;
  font-size: 36px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #181818;
  font-family: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 0 5px #000;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.re_footer .word:hover {
  text-shadow: 0 0 0px #000;
}
.re_footer h2 {
  font-size: 34px;
  padding-top: 10px;
  text-align: center;
  color: #4e4e4c;
  text-shadow: 0 2px 2px #FFF;
}
.re_footer .con {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  color: #60605e;
}
.re_footer .logo {
  width: 120px;
  height: 50px;
  margin: 0 auto;
  background: url(../image/logo.png) no-repeat;
}
.re_footer .footer {
  font-size: 16px;
  text-align: center;
  color: #787471;
}
.fold ,.foldb{
  position: absolute;
  bottom: 200px;
  right: -350px;
  z-index: 666668;
  -webkit-transition: all 1.2s ease-in-out;
  -moz-transition: all 1.2s ease-in-out;
  -o-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;
}
.fold_on {
  right: 50%;
  -webkit-transform: rotate(-360deg) scale(1) skew(0) translate(0px);
  -moz-transform: rotate(-360deg) scale(1) skew(0) translate(0px);
  -o-transform: rotate(-360deg) scale(1) skew(0) translate(0px);
  -ms-transform: rotate(-360deg) scale(1) skew(0) translate(0px);
  transform: rotate(-360deg) scale(1) skew(0) translate(0px);
}
.uc-final-content {
  width: 980px;
  height: 680px;
}
.fold .uc-container,.foldb .uc-containerb  {
  width: 250px;
  height: 340px;
}
.fold .uc-single,
.foldb .uc-single,
.fold .uc-final,
.foldb .uc-final,
.fold .uc-initial-content,
.foldb .uc-initial-content,
.fold .uc-back,
.foldb .uc-back,
.fold .uc-front
.foldb .uc-front  {
  background: #ffffff url(../image/paper.jpg) repeat center center;
}
.fold .scrollwrap ,
.foldb .scrollwrap {
  width: 100%;
  height: 100%;
  padding: 30px;
  overflow: hidden;
  position: absolute;
  color: #224092;
  font-family: "Satisfy", cursive;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
.fold .scrollwrap h3 {
  font-weight: normal;
  font-size: 22px;
  padding: 30px 0 10px 30px;
  pointer-events: none;
}
.fold .scrollwrap p ,
.foldb .scrollwrap p{
  font-size: 18px;
  padding: 0 40px 0 40px;
  pointer-events: none;
}
.fold .scrollwrap p.signature,
.foldb .scrollwrap p.signature {
  font-size: 20px;
  padding: 10px 30px 0 30px;
  text-align: right;
  pointer-events: none;
}
.fold .close,
.foldb .close  {
  position: absolute;
  top: 10px;
  right: 20px;
  font-family: "Satisfy", cursive;
  color: #224092;
  cursor: pointer;
  font-size: 20px;
  width: 20px;
  height: 20px;
  border: 2px solid #224092;
  border-radius: 50%;
  text-align: center;
  line-height: 14px;
  z-index: 666669;
}
/* pfold style */
.uc-container ,
.uc-containerb{
  position: relative;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
}
.uc-single,
.uc-final-wrapper,
.uc-initial-content,
.uc-back,
.uc-front {
  background: #fff;
}
.uc-final,
.uc-initial,
.uc-final-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.uc-initial-content,
.uc-final-content {
  width: 100%;
  height: 100%;
  position: relative;
}
.uc-final,
.uc-final-content {
  display: none;
}
.uc-initial-content {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.uc-part {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.uc-part > div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.uc-part .uc-back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
/* Transformation-origin classes */
.uc-unfold-left {
  -webkit-transform-origin: 0 50%;
  -moz-transform-origin: 0 50%;
  -o-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
}
.uc-unfold-right {
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
.uc-unfold-top {
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}
.uc-unfold-bottom {
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
/* Unfolding classes */
.uc-unfold-left.uc-unfold {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.uc-unfold-right.uc-unfold {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.uc-unfold-top.uc-unfold {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.uc-unfold-bottom.uc-unfold {
  -webkit-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
  -o-transform: rotateX(-180deg);
  -ms-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}
.uc-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.uc-overlay,
.uc-flipoverlay {
  background-color: rgba(100, 100, 100, 0.7);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.uc-flipoverlay {
  background-color: rgba(100, 100, 100, 0.4);
}
.uc-inner {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.uc-inner-rotate {
  -webkit-transform: rotateY(180deg) rotateX(180deg);
  -moz-transform: rotateY(180deg) rotateX(180deg);
  -o-transform: rotateY(180deg) rotateX(180deg);
  -ms-transform: rotateY(180deg) rotateX(180deg);
  transform: rotateY(180deg) rotateX(180deg);
}
.uc-container.uc-current,
.uc-containerb.uc-current{
  z-index: 9999;
}
#scene {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 500px;
  background-color: #0064AF;
  background-image: linear-gradient(0deg, #021126 1%, #2CA8F0 100%);
  z-index: 1;
}
/*news*/
/* Clouds */
#clouds path {
  fill: #fff;
  stroke: #fff;
}
#clouds svg{
    display: block;
}
#clouds {
position: absolute;
bottom: 0;
}
.clouds p {
  color: #333;
}
.clouds a {
  color: #004d4d;
  text-decoration: none;
}
.clouds a:hover {
  color: black;
}

/* Media Queries for the layout */
@media screen and (max-width: 68em) {
  section {
    font-size: 80%;
  }
}
@media screen and (max-width: 54em) {
  .column {
    display: block;
    width: 100% !important;
  }

  .text:first-child,
  .text:nth-child(2) {
    text-align: center;
  }

  .icon {
    margin: 0 auto;
  }

  .col-2 .column:first-child .icon {
    margin: 0 auto 50px;
  }

  .col-2 .column:nth-child(2) .icon {
    margin: 50px auto 0;
  }
}
.news-headera{
    margin:70px 0 50px;
    overflow: hidden;
}
/* _wrapper.css */
.wrapper {
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;
}


/* _timeline.css */
.timeline {
  position: relative;
  margin: 30px auto;
  padding: 60px 0;

}
.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  width: 4px;
  height: 100%;
  background-color: #ddd;
}
@media (min-width: 800px){
  .timeline::before{
    left: 50%;
    margin-left: -2px;
  }
}
.timeline__item {
  margin-bottom: 100px;
  position: relative;
}
.timeline__item::after{
  content: "";
  clear: both;
  display: table;
}
.timeline__item:nth-child(2n) .timeline__item__content {
  float: right;
}
.timeline__item:nth-child(2n) .timeline__item__content::before {
  content: '';
  right: 40%;
}
@media (min-width: 800px){
  .timeline__item:nth-child(2n) .timeline__item__content::before{
    left: inherit;
  }
}
.timeline__item:nth-child(2n) .timeline__item__content__date {
  background-color: #39A5F6;
}
.timeline__item:nth-child(2n) .timeline__item__content__description {
  color: #39A5F6;
}
.timeline__item:last-child {
  margin-bottom: 0;
}
.timeline__item-bg {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  color: #fff;
}
.timeline__item-bg:nth-child(2n) .timeline__item__station {
  background-color: #39A5F6;
}
.timeline__item-bg:nth-child(2n) .timeline__item__content {
  background-color: #39A5F6;
}
.timeline__item-bg:nth-child(2n) .timeline__item__content::before {
  background-color: #39A5F6;
}
.timeline__item-bg:nth-child(2n) .timeline__item__content__description {
  color: #fff;
}
.timeline__item-bg .timeline__item__station {
  background-color: #27ccff;
}
.timeline__item-bg .timeline__item__content {
  background-color: #27ccff;
}
.timeline__item-bg .timeline__item__content::before {
  background-color: #27ccff;
}
.timeline__item-bg .timeline__item__content__description {
  color: #fff;
}
.timeline__item__station {
  background-color: #9e9e9e;
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  top: 0;
  left: 10%;
  margin-left: -33px;
  border: 4px solid #ddd;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
@media (min-width: 800px){
  .timeline__item__station{
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    padding: 15px;
    border-width: 6px;
  }
}
.timeline__item__content {
  width: 80%;
  background: rgba(224, 241, 255, 0.48);
  padding: 20px 30px;
  border-radius: 6px;
  float: right;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
@media (min-width: 800px){
  .timeline__item__content{
    width: 40%;
    float: inherit;
    padding: 30px 40px;
  }
}
.timeline__item__content::before {
  content: '';
  position: absolute;
  left: 10%;
  background: #9e9e9e;
  top: 20px;
  width: 10%;
  height: 4px;
  z-index: -1;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
@media (min-width: 800px){
  .timeline__item__content::before{
    left: 40%;
    top: 30px;
    height: 4px;
    margin-top: -2px;
  }
}
.timeline__item__content__date {
  margin: 0;
  padding: 8px 12px;
  font-size: 15px;
  margin-bottom: 10px;
  background-color: #27ccff;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
  border: 2px solid #fff;
}
.timeline__item__content__description {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #27ccff;
}
@media (min-width: 800px){
  .timeline__item__content__description{
    font-size: 19px;
    line-height: 28px;
  }
}

/* _site-footer.css */
.site-footer {
  padding: 50px 0 200px 0;

}
.site-footer__text {
  color: #e6e6e6;
  font-size: 14px;
  text-align: center;
}
.site-footer__text__link {
  color: #8287a9;
}
