/*头部导航*/
header{
  width: 100%;
  height: auto;
}
.lottery_nav{
  width: 100%;
  height: 70px;
  background: #FDFCFA;
  overflow: hidden;
  position: relative;
}
.lottery_logo,
.lottery_Personal{
  position: absolute;
  top: 0;
  width: 10%;
  height: 70px;
  line-height: 70px;
}
.lottery_logo{
  background: url(../image/logokuai3.png) center center /cover no-repeat;
  min-width: 185px;
  position: initial;
  float: left;
  margin-left: 30px;
}
.lottery_logo a{
   color: #E64E4D;
}
.lottery_Personal{
  right: 0;
  min-width: 200px;
}
.lottery_Personal a{
  color: #907C73;
}
/*头部导航*/
.lottery_nav_center{
  width: 1111px;
  text-align: center;
  height: 70px;
  margin: 0 auto;
}
.lottery_nav_center ul li{
  display: inline-block;
  margin:0 12px;
  float: left;
}
.lottery_nav_center ul li a{
  display: inline-block;
  color: #907C73;
  width: 90px;
  height: 60px;
  border-radius: 3px;
  margin:5px 0;
  transition:all 0.3s ease-in-out 0s;
  font-size: 12px;
}
.lottery_nav_center ul .loactive a,
.lottery_nav_center ul li a:hover{
  background: #EFEAE7;
  color: #E64E4D;
}
.lottery_nav_center ul .lottery_balance a:hover{
  background: transparent;
  color: initial;
}
.lottery_nav_center ul li a i{
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  margin-top: 5px;
}
.lottery_balance{
  color: #333;
  overflow: hidden;
  width: 172px;
  height: 70px;
  line-height: 70px;
}
.lottery_nav_center ul .lottery_balance a{
  color: #333;
  display: initial;
  width: 100%;
}
.lottery_nav_center ul .lottery_balance a i{
  padding:0 10px;
  color: #E64E4D;
  display: initial;
}
.lottery_balance a span{
  color: #E64E4D;
  font-size: 18px;
  padding:0 10px;
}
.lottery_balance a:hover{
  background: none;
  color: #333;
}
.Login-registration{
  display: block;
  text-align: right;
}
.Login-registration a{
  padding: 10px 20px;
  position: relative;
  color: #907C73;
  z-index: 1;
}
.Login-registration a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #000;
    -webkit-transform: scaleY(.3);
    transform: scaleY(.3);
    opacity: 0;
    transition: all .3s;
    border-radius: 3px;
}
.Login-registration a:hover::before{
    opacity: 1;
    background-color: #E64E4D;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    transition: -webkit-transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity .4s;
    transition: transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity;
}
.Login-registration a:hover{
  color: #fff;
}
.Login-registration a:nth-of-type(2){
  margin:0 20px;
}
.login-in{
  text-align: right;
}
.login-in a{
  color: #333;
}
.login-in i{
  position: relative;
  top: 2px;
  margin:0 20px;
  color: #E64E4D;
  font-size: 20px;
}
/*轮播*/
.home-swiper .swiper-container{
  height: 600px;
}
.home-swiper .swiper-container  .swiper-slide:nth-of-type(1){
  background: url(../image/indexbg2.jpg) center center / cover no-repeat;
}
.home-swiper .swiper-container  .swiper-slide:nth-of-type(2){
  background: url(../image/indexbg1.jpg) center center / cover no-repeat;
}
.home-swiper .swiper-container  .swiper-slide:nth-of-type(3){
  background: url(../image/indexbg3.jpg) center center / cover no-repeat;
}
.home-swiper .swiper-container .swiper-pagination{
  bottom: 95px;
}
.home-swiper .swiper-pagination-bullet{
  width: 45px;
  height: 5px;
  border:1px solid #fd9190;
  border-radius: 3px;
  background: #fff;
  opacity: 1;
}
.home-swiper .swiper-pagination-bullet-active{
  background: #ee424e;
}
.swiper-arrow .swiper-button-prev{
  background-image: url(../image/righta.png);
}
.swiper-arrow .swiper-button-next{
  background-image: url(../image/left.png); 
}
.swiper-arrow .swiper-button-prev, .swiper-arrow .swiper-button-next{
  position: relative;
  left: 0;
  right: 0;
  background-size: 60%; 
  background-color: #fff;
  border:1px solid #fd9190;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display: inline-block;
}
.swiper-arrow,.swiper-arrowb{
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%,0);
  width: 100px;
  height: 40px;
  z-index: 99;
}
.swiper-arrowb{
    transform: none;
    top: 180px;
    left: 70px;
}
.text-swiper{
  width: 450px;
  height: 475px;
  background: #FDFCFA;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  right: 10%;
  transform:translate(0%, -50%);
  text-align: left;
}
.details_main_center{
  padding:20px;
  height: auto;
 }
.details_top{
  padding:15px 0;
  color: #333;
  font-size: 18px;
}
.details_top p{
  margin:10px 0;
}
.details_top p i{
  font-size: 18px;
  margin-right: 5px;
}
.details_top p:nth-of-type(2) span{
  font-size: 25px;
  margin:0 5px;
  color: #fb4046;
}
.details_botton{
  margin:20px 0 35px;
}
.details_botton a{
  display: inline-block;
  width: 180px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #333;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.2);
}
.details_botton a:nth-of-type(1){
  background: #E64E4D;
  color: #fff;
  margin-right:40px;
}
.details_botton a:nth-of-type(2){
  background: #E8DBD5;
}
.details_botton a i{
  margin-right: 10px;
  font-size: 20px;
}
.details_main{
  background: #EFEAE7;
  border-radius: 5px;
  margin-top: 20px;
}
.details_main_p{
  width: 100%;
  overflow: hidden;
}
.details_main_p a{
  width: 50%;
  height: 45px;
  line-height: 45px;
  text-align: center;
  float: left;
  color: #333;
}
.details_active{
  background: #EAE2DF;
}
.tab_download{
  width: 100%;
  overflow: hidden;
  min-height: 150px;
  border-top: 1px solid #ddd;
  display: none;
}
.tab_downloadaa{
  display: block;
}
.tab_downloadbb p{
  width: auto;
  padding-left: 30px;
  margin:10px 0;
}
.tab_download_img,
.tab_download_text{
  width: 65%;
  float: left;
  position: relative;
  height: 150px;
}
.tab_download_img{
  width: 35%;
}
.tab_download_img img{
  padding:20px;
}
.tab_download_text p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
}
.tab_download_text p a{
  display: block;
  width: 150px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  background: #E64E4D;
  text-align: center;
  border-radius: 15px;
  float: left;
}
.tab_download_text p a:hover{
   background: #af3130;;
}
.tab_download_text p span{
  display: block;
  width: 100%;
  float: left;
  margin-top: 10px;
}
/*尾部*/
footer{
  background: #FDFCFA;
  /*dcd4d2*/
  clear: both;
}
.lottery_footer{
  max-width: 1200px;
  height: auto;
  margin:0 auto;
  color: #907C73;
  padding:30px 0 0;
  overflow: hidden;
}
.lottery_footer p{
  color: #907C73;
  padding:10px 10px 0;
}
.lottery_footer p:nth-of-type(3){
  padding-bottom: 0;
}
.lottery_footer p a{
  color: #907C73;
}
.lottery_footer p:nth-of-type(4){
  color: #e44b4e;
  padding-bottom:10px;
}
.top_tooteraa{
  font-size: 20px;
  font-weight: 700;
}
.top_tooteraa i{
  font-size: 14px;
  margin-left: 10px;
  font-weight: 100;
  color: #333;
}
.technicalSupport{
  margin-top:15px;
}
.technicalSupport img,
.technicalSupport p{
  float: left;
}
.technicalSupport img{
  margin-top: 5px;
}
.technicalSupport p{
  margin-left: 10px;
}
.technicalSupport p span{
  display: block;
}
.footer_main_left .technicalSupport p i{
  margin-left:0;
}
.serviceExperience{
  margin:10px 20px;
  font-size: 12px;
}
.serviceExperience li {
    line-height: 34px;
}
.lottery_footer .footBar {
    background: #e6e6e6;
    width: 180px;
    height: 15px;
    border-radius: 15px;
    position: relative;
    display: inline-block;
    vertical-align: sub;
    overflow: hidden;
    margin: 0;
    margin-left: 5px;
    font-size: 20px;
    font-weight: 700;
    padding: 0;
}
.footBar span {
    background-color: #fd5757;
    position: absolute;
    height: 15px;
    border-radius: 15px 0 0 15px;
}
.footer_main_cccc{
  padding-left: 30px;
}
.serviceExperience li:nth-child(2) span {
    background: #4aa9db;
    color: #fff;
}
.serviceExperience em {
    font-size: 26px;
    margin-left: 5px;
}
.serviceExperience i {
    color: #a6a6a6;
    margin-left: 5px;
}
.footer_main_left,
.footer_main_right,
.footer_main_center{
  width: 25%;
  float: left;
  border-right: 1px solid #907c73;
  min-height: 132px;
}
.footer_main_center{
  width: 45%;
}
.footer_main_right{
  border:none;
  width: 29%;
  padding-left: 10px;
}
.rechargeMethod {
    margin: 30px 0 0;
}
.rechargeMethod i {
    display: inline-block;
    background: url(../image/rechargeMethod.png) no-repeat;
    height: 50px;
    width: 72px;
    margin-right: 18px;
}
.rechargeMethod .alipay {
    background-position: 0 -50px;
}
.rechargeMethod .cup {
    background-position: 0 -100px;
    margin-right: 0;
}
.container_about{
  width: 1000px;
  margin: 0 auto;
  height: 70px;
}
.fix_about{
  color: #999;
  margin: 0;
  margin: 20px 5px 10px;
  text-align: center;
}
.fix_about a{
  color: #907C73;
  padding: 0 10px;
  line-height: 1.4;
  margin: 5px 0;
  font-size: 14px;
}
.copyright{
  text-align: center;
  color: #907C73;
  font-size: 14px;
}
/*首页内容*/
.lottery_main{
  width: 100%;
  height: auto;
}
.lottery_main_conent{
  max-width: 1200px;
  width: 100%;
  min-height: 940px;
  margin:50px auto;
  background: #efeae7; 
}
.lottery_main_left,
.lottery_main_right{
  min-height: 940px;
  float: left;
}
.lottery_main_left{
  width: 75%;
}
.lottery_main_right{
  width:25%;
}
.lottery_main_dice{
  margin: 24px 10px;
  display: inline-block;
  position: relative;
  min-width: 270px;
  width: 30%;
  min-height: 248px;
  background: #f8f4f3;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.2);
  transition-duration:.3s;
}
.lottery_main_dice:hover{
  transform: scale(1.1);
}
.lottery_madice_top{
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  position: relative;
  font-size: 18px;
  border-bottom: 1px solid #E9DFDD;
}
.lottery_madice_top img{
  width: 40px;
  position: absolute;
  left: 50%;
  margin-left:-80px;
  top: 8px;
}
.lottery_madice_main p{
  padding:10px;
}
.lottery_madice_main p span{
  color: #E64E4D;
  padding:0 10px;
}
.lottery_madice_mshuang span:nth-of-type(3){
  color: #08d843;
}
.lottery_madice_main p a{
  display: inline-block;
  width: 100px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #e44b4e;
  border-radius: 5px;
  color: #fff;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.2);
}
.lottery_madice_main p a:nth-of-type(2){
  margin-left: 15px;
  color: #333;
  background: #e8dbd5; 
}
.lottery_madice_lottery span:nth-of-type(1){
  color: #333;
  padding: 0;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  float: left;
}
.lottery_madice_main .code0{
  display: inline-block;
  width: 40px;
  height: 40px;
  padding:0;
  background: url(../image/kuai3back.png) no-repeat;
}
.details_botton a:nth-of-type(1):hover,
.tab_download_text p a:hover,
.lottery_madice_main p a:hover,
.bt01:hover{
  background: #e31e27;
}
.details_botton a:nth-of-type(2):hover,
.lottery_madice_main p a:nth-of-type(2):hover{
  background: #e8d5cb;
}

/*骰子*/
.lottery_madice_main .dice_k3_1_roll{
 background-position: -6px -264px;
}
.lottery_madice_main .dice_k3_2_roll{
  background-position: -62px -264px;
}
.lottery_madice_main .dice_k3_3_roll{
  background-position:-117px -264px;
}
.lottery_madice_main .dice_k3_4_roll{
 background-position: -6px -312px;
}
.lottery_madice_main .dice_k3_5_roll{
 background-position: -62px -312px;
}
.lottery_madice_main .dice_k3_6_roll{
 background-position: -117px -312px;
}
.lottery_madice_main p:last-of-type{
  margin-bottom: 10px;
}
.winners_list{
  border-radius: 10px;
  min-height:400px;
  height: 435px;
  background: #fdfcfa;
  margin:24px 0 30px;
  border:1px solid #e0d1cc;
  box-shadow: 0px 1px 20px 0px rgba(161, 135, 122, 0.52);
  -webkit-box-shadow: 0px 1px 20px 0px rgba(161, 135, 122, 0.52);
}
.winners_list h1{
  width: 100%;
  height: 45px;
  line-height: 45px;
  background: #EFEAE7;
  font-size: 16px;
  font-weight: normal;
  border-bottom: 1px solid #e0d1cc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.winners_list h1 i{
  margin:0 10px;
  color: #d63636;
  font-size: 20px;
}
.winners_list_main{
  overflow-y: auto;
  height: 354px;
}
.winners_list_main_p{
  margin:10px 20px 0;
  padding-bottom: 10px;
  height: 50px;
  border-bottom:1px solid #E9DFDD;
}
.winners_list_main_p div{
  float: left;
}
.winners_list_mpleft{
  width: 40px;
  height: 50px;
  line-height: 50px;
}
.Announcement .winners_list_mpleft{
  text-align: center;
  width: 10px;
  height: 50px;
  line-height: initial;
  margin-right: 10px;
}
.winners_list_mpleft span{
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: #dd4142;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  color: #fff;
}
.Announcement .winners_list_mpleft span{
  width: 5px;
  height: 5px;
  position: relative;
  top: -5px;
}
.winners_list_mpright p:nth-of-type(1){
  color: #907C73;
  margin-bottom: 5px;
}
.Announcement .winners_list_mpright p:nth-of-type(1){
  color: #333;
  margin-bottom:0;
}
.Announcement .winners_list_mpright p:nth-of-type(2){
  color: #907C73;
}
.Announcement .winners_list_main_p{
  padding-bottom: 0;
}
.winners_list_main_p p span{
  color: #dd4142;
  margin:0 5px 0 15px;
}
.winners_list_mpright p:nth-of-type(2) span{
  font-size: 18px;
}
/*个人中心内容*/
.personal_main{
    max-width: 1200px;
    height: auto;
    overflow: hidden;
    margin:50px auto;
}
.personal_main_left,
.per_main_rig_top,
.per_main_rig_main{
    background: #fff;
}
/*left*/
.personal_main_left{
    width:20%;
    min-height:841px;
    float:left;
    margin-right: 15px;
}
/*right*/
.personal_main_right{
    width:78%;
    float:left;
}
.per_main_rig_top{
    width:100%;
    height: 65px;
    line-height: 65px;
}
.per_main_rig_main{
    width: 100%;
    min-height:760px;
    margin-top: 15px;
    position: relative;
    overflow: hidden;
}
.sonal_main_lef_header p{
    margin:20px 0px;
    text-align: center;
}
.lef_header_a a{
    display: inline-block;
}
.lef_header_a a span{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border:3px solid #F5F7F9;
    display: inline-block;
    background: #fff;
}
.basic_information p {
    text-align: left;
    padding: 10px 0;
}
.lef_header_a a span img{
    border-radius: 50%;
    width: 90px;
    margin-top:10px;
}
.lef_header_a a  b{
    display: inline-block;
    color:#333;
    font-weight: 600;
    margin-top: 10px;
}
.lef_header_b span{
    margin-left: 5px;
    color: #E64E4D;
}
.active{
    color:#FF8331 !important;
}
.lef_header_c span{
    display: inline-block;
    border-radius: 50%;
    width:30px;
    height: 30px;
    line-height: 30px;
    background: #23C44B;
    margin:0 5px;
}
.lef_header_d b{
    color:#E64E4D;
    margin-top: 10px;
}
.sonal_main_lef_nav{
    margin-top: 20px;
}
.sonal_main_lef_nav ul li a{
    width:100%;
    height:55px;
    line-height: 55px;
    border-top: 1px solid #E4E9EE;
    text-align: center;
    color:#907C73;
    display: block;
    transition: all 0.3s ease-in-out 0s;
}
.sonal_main_lef_nav ul li a:hover,
.sonal_main_lef_nav ul li .left-nav-active{
    color:#E64E4D;
    background: rgba(247, 246, 242, 0.28);
}
.sonal_main_lef_nav ul li .left-nav-active{
    border-left: 2px solid #E64E4D;
}
.sonal_main_lef_nav ul li a i{
    margin-right:15px;
}
.sonal_main_lef_nav ul li:last-of-type a{
  border-bottom: 1px solid #E4E9EE;
}
.per_main_rig_top h4{
    line-height: 65px;
    font-size: 14px;
    color:#000;
    font-weight: bold;
    padding-left: 15px;
}
.rig_main_zla{
    margin:0 auto;
    width:96%;
    height:50px;
    padding-left: 5px;
    line-height: 50px;
    border-bottom: 1px solid #EBEBEB;
}
.personal_footer{
    width:100%;
    height:85px;
    background: #e5e5e5;
}
.personal_footer_main{
    max-width: 1200px;
    height:85px;
    margin:0 auto;
}
.sonal_footer_mai_img{
    display: inline-block;
    float: left;    
    line-height: 85px;
    margin-right: 20px;
}
.sonal_footer_mai-nav  ul,
.sonal_footer_mai-nav  p{
    float:left;
}
.sonal_footer_mai-nav  ul{
    margin-top: 26px;
}
.sonal_footer_mai-nav  p{
    font-size: 12px;
    margin-top: 5px;
    color:#666;
}
.sonal_footer_mai-nav  ul li{
    display: inline-block;
}
.sonal_footer_mai-nav  ul li a{
    color:#333;
}
.active_zla{
    color:#e64e4d;
} 
/*侧边*/
.side-message{
    width:35px;
    height:100%;
    overflow: hidden;
    position: fixed;
    top:50%;
    right: 0;
    margin-top:-90px;
}
.side-message a{
    display: inline-block;
    width: 35px;
    height:35px;
    background: #978979;
    line-height: 35px;
    text-align: center;
    color:#fff;
    margin:1px 0;
    border-radius: 3px;
}
/*个人信息*/
.basic_information_form {
    padding: 20px 0px 0 0px;
    font-size: 14px;
}
.basic_information_form li{
    padding:10px 0;
    overflow: hidden;
}
.basic_information_form li label{
    width: 90px;
    text-align: right;
    display: inline-block;
    height: 34px;
    line-height: 34px;
    float: left;
}
.basic_information_form li input,
.basic_information_form li select{
    width: 200px;
    height:32px;
    border:1px solid #D5D5D5;
    margin:0 5px 0 10px;
    padding-left: 10px;
    float: left;
}
.basic_information_form li input:focus,
.totalsVal:focus,
.mode_lia input:focus,
.zhuiEachPrice:focus{
    border:1px solid #3ECB61;
    box-shadow:0px 0px 5px 1px rgba(35, 196, 75, .5);
    transition: all .3s ease-out 0s;
}
.basic_information_a .Prompt_header{
    display: inline-block;
    width:70px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    background:#E8E8E8;
    margin:0 5px;
    border-radius:3px;
    font-size: 12px;
}
.mui-checkbox {
    position: relative;
    margin-right: 10px;
    background-color: #fff;
    border: solid 1px #d9d9d9;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-clip: padding-box;
    display: inline-block;
    -webkit-appearance: none;
    transition: all .3s ease-out 0s;
}
.mui-checkbox.checkbox-s {
    width: 19px;
    height: 19px;
    top: 7px;
}
.mui-checkbox.checkbox-orange:checked {
    background-color: #E64E4D;
    border: solid 1px #fff;
}
.mui-checkbox.checkbox-orange:focus{
  box-shadow: none;
}
.basic_information li .basic_radio_label{
  position: relative;
  width: auto;
  margin-right: 15px;
}
.checkbox-i{
  display: none;
  position: absolute;
  left: 12px;
  top: 1px;
}
.mui-checkbox:checked + .checkbox-i{
  display: inline-block;
  color: #fff;
}
.modify_sub,
.input-group-pr {
    width: 212px;
    height: 40px;
    background: #E64E4D;
    outline: none;
    border: 1px solid #F06408;
    color: #fff;
    font-size: 14px;
    margin:0 10px;
}
.basic_information .text_alingaa{
  clear: both;
  padding-left: 10px;
}
.shuaxin{
  display: inline-block;
  text-align: center;
  line-height: 40px;
}
.fonttextmddd{
  font-size: 18px;
}
.tbody_referenceb .zanwujl td{
  text-align: center;
  color: #f46e00;
  padding: 30px;
}
.tbody_referenceb .zanwujl td span i{
  margin: 0 5px;
}
/*我的投注*/
.table_betting_main{
  display: none;
  padding:20px;
}
.table_betting_active{
  display: block;
}
.active_zla a{
  display: inline-block;
  min-width: 100px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 5px;
  font-size: 12px;
}
.betting_top-active{
  background: #E64E4D;
  color: #fff;
}
table {
  background-color: transparent;
}
.table_reference{
  width: 100%;
}
.tbody_referenceb,
.tbody_referencea{
  border: 1px solid #ddd;
}
.tbody_referencea{
  background: #E8E0DD;
  color: #333;
}
.tbody_referencea th{
  font-size: 12px;
  padding: 15px;
  vertical-align: top;
  text-align: left;
}
.tbody_referenceb tr{
  border-bottom: 1px solid #ddd;
}
.tbody_referenceb tr:last-of-type,
.tbody_referenceb{
  border-bottom: none;
}
/*波浪边框*/
hr.style12 {
    height: 6px;
    background: url(../image/hr-12.png) repeat-x 0 0;
    border: 0;
    position: relative;
    top: -3px;
}
.tbody_referenceb tr:not(.nothover):hover{
  background: #e8dbd5;
}
.tbody_referenceb .zanwujl:not(.nothover):hover{
  background: inherit;
}
.tbody_referenceb tr td{
  padding: 15px;
  font-size: 12px;  
}
.tbody_referencec tr{
  height: 20px;
}
.tdbetting-active,
.tdbetting-active-aa{
  color: #08d843;
}
.tdbetting-active-b{
  color: #E64E4D;
}
/*资金明细*/
.table_capital_main{
  position: relative;
  min-height: 300px;
  overflow: hidden;
}
.capital_table{
  padding: 20px 20px 0 20px;
}
.tbody_capital_main tr td{
  width: 16.6666%;
}
.capital_operation{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #f46e00;
}
/*立即充值*/
.Recharge_header a,
.Bank_card_bind a{
  padding:0 15px;
}
/*银行卡充值*/
/*未绑定时*/
.auto_in_tab {
  overflow: hidden;
  padding: 25px 0;
}
.auto_in_tab dt {
  margin-bottom: 10px;
}
.auto_in_tab dd {
  float: left;
  margin-right: 50px;
  color: #e64e4d;
  font-size: 14px;
}
.auto_in_tab dd img {
  margin-right: 10px;
  position: relative;
  top: 7px;
}
.auto_in_tab .cz_bank{
  height: 28px;
}
.auto_in_tab .cz_jt{
  top: 10px;
  margin-right: 0;
  height: 8px;
}
.blankRemittance{
  max-width: 778px;
  width: 100%;
  height: 336px;
  border: 1px solid #d5d5d5;
  padding-top: 30px;
  position: relative;
}
.blankRemittanceaa{
  height: 600px;
}
.blankRemittanceaa .blankRemittance_bg ul{
  margin-top: 15px;
}
.blankRemittanceaa .blankRemittance_bg ul li p{
  text-align: center;
}
.blankRemittanceaa .blankRemittance_bg ul li .h_title{
  margin-right: 5px;
}
.blankRemittance_bg {
    background: url(../image/blankRemittance_bgc.png)no-repeat center;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.blankRemittance_bg ul {
    margin-top: 30px;
}
.blankRemittance ul li {
    min-height: 35px;
    line-height: 35px;
    text-align: center;
}
.blankRemittance_bg .icon_h_recharge {
    margin-right: 10px;
    position: relative;
    top: 5px;
    width: 28px;
}
.blankRemittance_bg .h_title {
    color: #cc0000;
    font-size: 24px;
}
.blankRemittance_bg .word {
    font-size: 14px;
    color: #444444;
    margin: 15px 0 32px 0;
}
.blankRemittance_bg .word p {
    height: 138px;
    line-height: 138px;
    text-align: center;
}
.blankRemittance_bg .blankRemittance_a {
    width: 180px;
    height: 36px;
    line-height: 36px;
    background: #e64e4d;
    color: #fff;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
}
.rengongcz li span{
  width: 60%;
  color: #cc0000;
}
.chlidactive, .iconnoneb, .iconnone .iconnonea {
    display: none;
}
.iconnone .iconnoneb {
    display: block;
}
/*提现申请*/
.Withdrawals_bind_form li label{
  width: 110px;
}
.Withdrawals_bind_form .basic_information_c{
  position: relative;
  padding:15px 0;
}
.Withdrawals_bind_form .basic_information_i .modify_sub{
  margin-top: 10px;
}
.basic_information_c_main{
  position: absolute;
  top: 2px;
  left: 104px;
}
.Withdrawals_bind_main{
  margin-top: 20px;
}
.screen_nowin_a a:hover{
  color: #E64E4D;
}
.Withdrawals_bind_main .tbody_referenceb tr:hover {
    background: rgba(232, 224, 221, 0.21);
}
/*密码修改*/
.password_modify_form li label{
  width: 150px;
}
/*绑定银行卡*/
.basic_information_form li select{
  height: 34px;
  width: 210px;
}
.province-city{
  display: inline-block;
}
.basic_information_form li .province-city select{
  width: 190px;
}
.basic_information_form .codeverify_btn input{
  width: 120px;
  margin-right: 0;
}
.codeverify_btn{
  position: relative;
}
.codeverify_btn a{
  position: absolute;
  left: 232px;
  display: block;
  width: 80px;
  height: 34px;
  line-height: 34px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background: #e64e4d;
  transition: .2s;
  top: 10px;
}
.Bank_card_bind_main{
  position: relative;
}
.bank_manage{
  float: left;
}
.bank_manage .item {
    width: 378px;
    height: 210px;
    border: #d5d5d5 solid 1px;
    float: left;
    display: inline;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 0 0 20px 0;
    transition: .2s;
}
.bank_manage .item .head {
    border-bottom: #d5d5d5 solid 1px;
    height: 48px;
    position: relative;
    padding-top: 10px;
}
.bank_manage .item .body span {
    color: #888;
}
.bank_manage .item .head .delete {
    width: 15px;
    height: 20px;
    display: block;
    position: absolute;
    right: 16px;
    top: 19px;
}
.bank_manage .item .head .delete:hover{
  color: #E64E4D;
}
.bank_manage .item .head span{
    line-height: 37px;
    padding: 10px;
    font-size: 16px;
}
.bank_manage .item .head span i{
  color: #666;
  margin-left: 10px;
  font-size: 20px;
}
.bank_manage .item .head  .zhifubao i{
  color: #3C98E3
}
.bank_manage .item .head  .weixina i{
  color: #5DE466;
}
.bank_manage .item .body {
    padding: 20px 0 20px 20px;
    position: relative;
    height: 99px;
    font-size: 14px;
    line-height: 25px;
}
.bank_manage .item .body .take {
    position: absolute;
    left: -1px;
    bottom: -32px;
    line-height: 1em;
    color: #ed6409;
    height: 30px;
    width: 380px;
    background: #E64E4D;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    display: none;
}
.bank_manage .item:hover,
.bank_manage_active .item{
  border:#E64E4D solid 1px;
  transition: all 0.3s ease-in-out 0s;
}
.bank_manage .item:hover .body a,
.bank_manage_active .item .body .take{
  display: block;
  transition: all 0.3s ease-in-out 0s;
}
.czjetixin{
  font-size: 12px;
  color: #f46e00;
}
.czjeyutixin{
  margin-top: 15px;
}
/*分销管理*/
.qrcode{
  padding:0 20px 0 15px;
}
.qrcode_clock{
  position: inherit;
  transform: none;
  margin:10px 0 50px;
  top: 0;
}
.input-group-pr{
  width: 100px;
  height: 34px;
}
.copy_text{
  width: 300px;
  height: 230px;
  border: 1px solid #DED5D1;
  background: #fdfcfa;
  float: left;
  margin-right:50px;
  text-align: center;
  border-radius: 3px;
}
.copy_text p{
  text-align: center;
}
.copy_text input{
  width: 200px;
  height: 32px;
  border: 1px solid #D5D5D5;
  margin: 50px 0 30px;
  padding-left: 10px;
}
.basic_information .zhuangyai{
  margin-top: 50px;
  float: left;
  font-size: 14px;
  width: 100%;
}
.title p{
  padding: 0;
}
.childContenttha th{
  width: 33.33%;
}
.plTotal_main{
  width: auto;
  height: auto;
  overflow: hidden;
}
.my_account {
  margin-bottom: 20px;
}
.my_account .plTotal{
  width: 230px;
}
.plTotal{
  float: left;
  padding: 15px;
  width: 239px;
  height: 60px;
  margin-right: 30px;
  border: 1px solid #ddd;
  border-radius: 6px;  
}
.plTotal i{
  color: #fff;
  background: #fb4046;
  font-size: 28px;
  display: block;
  height: 60px;
  line-height:60px;
  text-align: center;
  width: 60px;
  border-radius: 4px;
  float: left;
}
.plTotal .detail{
  display: block;
  width: 145px;
  height: 50px;
  float: left;
  padding-left: 10px;
  line-height: 1.4;
}
.plTotal .detail p{
  margin: 0;
  margin-left: 10px;
  padding:0;
}
.plTotal .detail em{
  font-size: 28px;
  color: #e4393c;
  font-family: arial;
  line-height: 2;
  margin-left:10px;
}
/*投注页面*/
.Betting_main{
  max-width: 1200px;
  width: 100%;
}
.Betting_main_left{
  position: fixed;
  left: 100px;
  float: none;
  width: 240px;
  margin:0;
  height: auto;
  padding-bottom: 10px;
  border-radius: 5px;
  background: #F8F4F3;
  z-index: 99;
}
.Betting_main_lef_nav{
  margin:0;
}
.Betting_main_lef_nav ul li a,
.Betting_main_lef_nav p span{
  width: auto;
  height: 40px;
  line-height: 40px;
  margin:5px;
  padding-left: 10px;
  border:none;
  border-radius: 5px;
  background: #E1DCD9;
  text-align: left;
  color: #333;
}
.Betting_main_lef_nav p span{
  display: block;
  background: #AE978F;
  color: #fff;
  border-radius: 3px;
  margin:3px;
}
.Betting_main_lef_nav p span i {
    float: right;
    margin-right: 10px;
}
.Betting_main_lef_nav ul li .left-nav-active,
.Betting_main_lef_nav ul li a:hover{
  border:none;
  background: #e64e40;
  color: #fff;
}
.Betting_main_right{
  width: 100%;
  min-height: 840px;
  background: #F8F4F3;
  border-radius: 5px;
}
.Betting_main_rig_top{
  background: #F9F4F1;
  height: 120px;
  border-bottom: 1px solid #DED5D1;
}
.Betting_logo_left{
  width: 12.417%;
  height: 100%;
  text-align: center;
  border-right: 1px solid #DED5D1;
  font-size: 14px;
  float: left;
}
.Betting_logo_left img{
  padding: 5px 0;
  width: 80px;
}
.Betting_main_center{
  width: 550px;
  float: left;
  height: 120px;
}
.bettThe_otterya,
.bettThe_otteryb,
.bettThe_otteryc,
.time_left,
.time_right{
  height: 100%;
  float: left;
  position: relative;
}
.bettThe_otterya{
  width: 28%;
}
.bettThe_otterya div,
.bettThe_otteryb p,
.bettThe_otteryc div,
.time_left div{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.bettThe_otterya div p{
  padding-left:15px;
  color: #84615b;
  margin-top: 5px;
}
.bettThe_otterya div p:nth-of-type(1){
  font-size: 16px;
  font-weight: bold;
}
.bettThe_otterya div p span,
.time_left div p span{
  color: #e64e40;
  margin-right: 5px;
}
.bt01{
  background: #E64E4D none repeat scroll 0 0;
  border: 1px solid #E64E4D;
  border-radius: 3px;
  color: #fff !important;
  display: inline-block;
  margin-top: 5px;
  padding: 4px 10px;
  text-decoration: none;
  transition: all 0.2s linear 0s;
  font-size: 12px;
}
.bt01 i{
  margin:0 5px;
}
.bettThe_otteryb{
  width: 50%;
}
.bettThe_otteryb p span{
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  margin:0 5px;
  border:1px solid #dfc6bf;
  font-size: 30px;
  color: #e64e40;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbf7f4), color-stop(100%, rgba(0, 0, 0, 0.1)));
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}
.Betting_time_right{
  float: right;
  width: 41%;
  height: 100%;
}
.bettThe_otteryc{
  width: 20%;
  border-right: 1px solid #DED5D1;
}
.bettThe_otteryc div p span{
  color: #e64e40; 
}
.time_left{
  width: 24%;
  float: left;
}
.time_right{
  width: 76%;
  float: left;
}
.time_left div p{
  color: #84615b;
  margin-top: 5px;
}
/*投注主内容*/
.Betting_main_rig_main{
  width: 100%;
  height: auto;
  overflow: hidden;
}
.brigtinh_main_top.rig_main_zla{
  width: auto;
  padding:0 25px;
  border-bottom: 1px solid #ddd;
  height: 60px;
  line-height: 60px;
}
.brigtinh_main_top.rig_main_zla a{
  font-size: 14px;
  padding: 0 5px;
}
.brigtinh_main_cen{
  display: none;
}
.brigtinh_main_cen_active{
  display: block;
  height: auto;
  overflow: hidden;
  margin-bottom: 20px;
}
.brigtinh_main_cenmn{
  padding:20px;
}
.title_Prompt{
  color: #e64e4d;
  padding-left: 10px;
  margin-bottom: 10px;
}
.title_Prompt span{
  margin-right: 30px;
}
.brigtinh_main_cenle,
.brigtinh_main_cenri{
  width: 67%;
  float: left;
}
.brigtinh_main_cenri{
  width: 33%;
}
.key_shadow,
.key_shadow2{
  width: 97px;
  height: 100px;
  text-align: center;
  margin:15px 0;
  float: left;
}
.key_shadow2{
  width: 190px;
  height: 100px;
}
.key_shadow_num,
.key_shadow_num2,
.key_shadow_numint{
  margin: 5px auto 10px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #dfc6bf;
  color: #000;
  font-size: 30px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbf7f4), color-stop(100%, #e3d8d2));
  box-shadow: 0 2px 5px rgba(227, 216, 210, 0.7);
}
.key_shadow_num2{
  margin: 10px auto 10px;
  width: 150px;
  height: 55px;
  line-height: 55px;
  border-radius: 5px;
  font-size: 16px;
}
.key_shadow_num a,
.key_shadow_num2 a{
  display: block;
}
.key_shadow p:nth-of-type(2),
.key_shadow2 p:nth-of-type(2){
  font-size: 14px;
}
.Selected_null_active{
  border: 1px solid #ff3938;
  background: #E64E4D;
  box-shadow: 0 2px 20px rgba(255, 57, 56, 0.72);
  -webkit-animation: beat .5s ease-out;
  animation: beat .5s ease-out;
}
.Selected_null_active a{
  color: #fff;
}
@keyframes beat {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform:scale(1);
  }
  20% {
    transform:scale(1.4);
  }
  80% {
    transform: scale(1.15);
  }
}
@-webkit-keyframes beat {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.4);
  }
  80% {
    -webkit-transform: scale(1.15);
  }
}
/*和值后的其它选项*/
.select_info_text{
  margin:50px 0 30px;
}
.addbtn_disabled{
  display: block;
  line-height: 40px;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
}
.addbtn_disabled:hover{
  box-shadow: 0 2px 20px rgba(255, 57, 56, 0.72);
}
.box_ball_wid,
.box_ball_radu{
  height: auto;
  overflow: hidden;
}
.box_ball_wid{
  margin:20px auto;
}
.box_ball_radu{
  width: 600px;
  margin:0 auto 15px;
}
.box_ball_wid .key_shadow{
  margin-right: 40px;
  width: 100px;
  height: 50px;
}
.box_ball_radu .key_shadow{
  width: 100px;
  height: 70px;
}
.box_ball_wid .key_shadow_num{
  width: 100px;
  height: 45px;
  line-height: 45px;
  border-radius: 5px;
  font-size: 22px;
}
.box_ball_2THDX_num{
  width: 840px;
}
.box_ball_2THDX_num .key_shadow{
 margin:10px 20px;
}
/*投注框*/
.Betting_list_box{
  padding:20px;
  height: auto;
  overflow: hidden;
  position: relative;
}
.choose_list_box,
.choose_list_boxri{
  float: left;
}
.choose_list_box{
  width: 70%;
  position: relative;
}
.choose_list_boxri{
  width: 30%;
}
.choose_list_box .chose_list {
    padding: 4px;
    border: 1px solid #DED5D1;
    background: none repeat scroll 0 0 #fff;
    height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
    border-bottom: none;
}
.has_add_ball li {
    border-bottom: 1px solid #eeeceb;
    cursor: pointer;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
}
.has_add_ball li span{
  display: inline;
  float: left;
  width: auto;
}
.has_add_ball li .txt-betsName {
  padding:0 5px 0 10px;
}
.has_add_ball li .txt-num {
    color: #e64e4d;
}
.has_add_ball li .txt-amount {
    padding: 0 5px;
}
.js-money{
  margin-left: 10px;
}
.has_add_ball li .bingoMoney{
  float: none;
}
.js-money em{
  margin-left: 10px;
}
.totalsVal {
    width: 80px;
    border: 1px solid #ddd4cd;
    padding:5px;
}
.bg_top{
  position: absolute;
  top: 13px;
  height: 10px;
  border-radius: 20px;
  background: #f2ede9;
  width: 68%;
}
.has_add_ball .txt-delNum {
    float: left;
    width: 30px;
}
.has_add_ball li .txt-delNum {
    color: #999;
    float: right;
}
.has_add_ball li .txt-delNum:hover{
  color: #e64e4d;
}
.mode{
  padding:0 20px;
}
.mode ul li{
  margin-bottom: 30px;
  width: 100%;
  height: auto;
}
.mode_li .basic_radio_label{
  position: relative;
  margin:0 5px;
}
.mode_li .mui-checkbox.checkbox-s{
  top: 3px;
}
.mode_li .checkbox-i{
  left: 2px;
  top: 3px;
}
.mode_lia input{
  padding: 5px 0 5px 10px;
  outline: none;
  border: 1px solid #D5D5D5;
}
.mode_lia input:active{
  outline: none;
}
.mode_lic button{
  width: 44%;
  float: left;
  margin: 0;
  background: #e31e27;
  border-radius: 5px;
  transition:none;
  height: 50px;
  box-shadow: 2px 2px 10px rgba(80, 80, 80, 0.53);
}
.mode_lic button:nth-of-type(1){
  margin-right: 6%;
}
.mode_lic .modify_sub:nth-of-type(2){
  background: #e4d5ce;
  border:1px solid #dfc6bf;
  color: #333;
}
.mode_lic button:active,
.mode_lic .modify_sub:nth-of-type(2):active{
  background: #14bff1;
  border:none;
}
.mode_lic .modify_sub:nth-of-type(2):active{
  color: #fff;
}
/*追号*/
.choose_list_boxb{
  margin-top: 30px;
  clear: both;
}
.choose_list_boxb .chose_list{
  min-height: 350px;
  overflow: hidden;
}
.zhuiTop{
  text-align: center;
  font-size: 14px;
  margin:20px 0;
}
.chose_list .table_reference{
  padding: 20px;
  width: 98%;
  margin: 0 auto;
}
.chose_list .tbody_capital_main tr td{
  width: auto;
  text-align: center;
}
.chose_list .tbody_referencea th{
  text-align: center;
}
.zhuiEachPrice{
  padding: 5px;
  width: 80px;
  border: 1px solid #ddd4cd;
}
.chose_list .tbody_referenceb tr:not(.nothover):hover{
  background: #f8f4f3;
}
.table_zhuihao{
  height: 200px;
  overflow-y: auto;
  margin:0 10px; 
}
.chose_list .table_zhuihao .table_reference{
  width: 100%;
}
.chose_list .table_zhuihao .tbody_referenceb{
  border-bottom: 1px solid #ddd;
}
/*CheckBox*/
.checkbox input[type="checkbox"] {
    display: none;
}
.checkbox input[type="checkbox"] + .ripple-container {
    width: auto;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    top: 2px;
    margin:0 5px;
    pointer-events: none;
}
.checkbox input[type="checkbox"] + .ripple-container:before {
    content: '';
    position: absolute;
    border-radius: 2px;
    display: block;
    height: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.checkbox input[type="checkbox"] + .ripple-container .check-off {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    border-radius: 2px;
}
.checkbox input[type="checkbox"]:checked + .ripple-container .check-off {
    border-color: #DED5D1;
}
.checkbox input[type="checkbox"] + .ripple-container .check-off {
    border: 1px solid #DED5D1;
}
.checkbox input[type="checkbox"] + .ripple-container .check-on {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    transition: all 0s;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 25px;
}
.checkbox input[type="checkbox"]:checked + .ripple-container .check-on {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    color: #333;
}
.check-on i{
  font-size: 22px;
}
#Span2{
  margin-right: 10px;
}
.checkbox2{
  position: relative;
}
.checkbox2 input[type="checkbox"]{
  position: absolute;
  top: -4px;
  left: 7px;
  width: 20px;
  height: 20px;
  opacity: 0;
  display: inline-block;
}
/*投注记录-开奖公告*/
.Accordion_Record {
    border-bottom: 1px solid #ded5d1;
    margin-top: 30px;
}
.Accordion_Record .childTitle {
    padding: 10px;
    border-top: 1px solid #ded5d1;
    cursor: pointer;
}
.Accordion_Record .childIcon {
    float: left;
    margin-right: 18px;
    position: relative;
    width: 30px;
    height: 30px;
    background: #ae978f;
}
.Accordion_Record .childIcon {
    transition-duration: .5s;
    -ms-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -webkit-transition-duration: .5s;
}
.Accordion_Record .childIcon .sub {
    position: absolute;
    height: 2px;
    top: 14px;
    left: 9px;
    width: 12px;
    height: 2px;
    background: #fff;
}
.Accordion_Record .childIcon .sub2 {
    transition-duration: .5s;
    -ms-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -webkit-transition-duration: .5s;
}
.Accordion_Record .childIcon .sub.sub2 {
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
.Accordion_Record .title {
    line-height: 30px;
    color: #333333;
    font-size: 14px;
}
.Accordion_Record .childContent {
    display: none;
    border-top: 1px dashed #ddd;
    padding: 5px 10px 10px 10px;
    color: #666;
    line-height: 22px;
    font-size: 14px;
    background-color: #fff;
}
.Accordion_Record .child  .Record_active .childIcon .sub2 {
    transform: rotate(90deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}
.record_p{
  padding: 15px 0;
  text-align: center;
  color: #e31e27;
}
.Cl_ico{
  display: inline-block;
  width: 14px;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  color: #fff;
  margin: 0 5px;
  text-align: center;
}
.da_icoa{
  background: #6972EF;
}
.dan_icob{
  background: #C6B802;
}
.xiao_icoc{
  background: #D45180;
}
.shuang_icod{
  background: #87C95C;
}
/*活动中心*/
.activity_main{
  max-width: 1000px;
  width: 100%;
  min-height: 600px;
  margin: 0 auto;
}
.activity_main .floor{
  background: #fff;
  background-position: 0 0; 
  box-shadow: 0 4px 8px #c7c7c7;
  padding: 15px;
  margin:15px 0 0;
  overflow: hidden;
}
.showDetail{
  cursor: pointer;
  overflow: hidden;  
}
.floor .floorTitleImg{
  float: left;
  width: 680px;
  height: 170px;
}
.defaultImg {
    background: url(../image/notPicture.png) 50% no-repeat;
    background-size: cover;
    background-color: #f3f3f3;
}
.floorLine{
    background: url(../image/activityShaw.png) no-repeat;
    width: 100%;
    height: 15px;
    padding: 0 3px;
    margin-left: -3px;
}
.floor .floorRright{
    float: left;
    width: 290px;
    padding: 0 15px;
    box-sizing: border-box;
}
.floor .floorRright h2{
    font-size: 28px;
    font-weight: 100;
    margin: 0;
    color: #e4393c;
    line-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}
.floor .floorRright p{
    font-size: 14px;
    padding: 12px 0;
    height: 72px;
}
.floor .floorRright a{
    font-size: 18px;
    display: block;
    line-height: 40px;
    width: 120px;
    background: #e4393c;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    padding-right: 18px;
    box-sizing: border-box;
}
.floorRrightaa_xuan i{
  transform: rotate(180deg);
}
.floor .floorRright a i{
    position: absolute;
    margin-top: 15px;
    margin-left: 8px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #f09394;
    transition: .1s;
}
.floorDetail{
    margin-top: 15px!important;
    border-top: 2px dashed #e6e6e6;
    overflow: hidden;
    display: none;
    width: 970px!important;
    clear: both;
}
.floorDetail_blok{
  display: block;
}
.floorDetail h3{
    display: block;
    background: #d2dbe0;
    width: 84px;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
    margin: 30px 0 15px;
}
.floorDetail h3 i{
    display: inline-block;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 10px solid #d2dbe0;
    position: absolute;
    margin-left: 14px;
}
.floorDetail em, .floorDetail i {
    font-size: 14px;
    font-style: normal;
}
.floorDetail em{
    margin-right: 15px;
}
.floorDetail i{
    color: #f76727;
}
.floorDetail a{
    font-size: 16px;
    color: #fff;
    background: #e4393c;
    border-radius: 4px;
    padding: 7px 18px;
}
.floorDetail .disable{
    background: #d6d6d6;
    color: #999;
}
.floorDetail .table_reference{
  width: 60%;
}
.activityCon p{
  font-size: 14px;
}
.floorDetail .tbody_referenceb tr:last-of-type, 
.floorDetail .tbody_referenceb{
  border-bottom: 1px solid #c1c1c1;
}
.floorDetail .tbody_capital_main tr{
  border:none;
}
.floorDetail .tbody_referencea tr th{
  border:1px solid #999;
  text-align: center;
}
.floorDetail .tbody_capital_main tr td{
  border:1px solid #ddd;
  text-align: center;
}
/*走势图*/
.Trend_chart{
  text-align: center;
}
.Trend_chart_table{
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  font-size: 14px;
  background: #fff;
}
.Trend_chart_table>tbody>tr>td, 
.Trend_chart_table>tbody>tr>th, 
.Trend_chart_table>tfoot>tr>td{
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table_top_bor th{
  border-right: 2px solid #E64E4D;
}
.table_top_bor th:last-child{
  border-right: none;
}
.table_top_tow th:nth-of-type(6),
.table_top_tow th:nth-of-type(22),
.table_top_mainbor td:nth-of-type(1),
.table_top_mainbor td:nth-of-type(2),
.table_top_mainbor td:nth-of-type(8),
.table_top_mainbor td:nth-of-type(24){
  border-right: 2px solid #E64E4D;
}
.table_top_mainbor td:nth-of-type(2){
  color: #e64e4d;
}
.bg_yell,
.table_top_mainbor td:nth-of-type(2){
  background: rgb(255, 255, 238);
}
.winBall {
  background: url(../image/redball.png) no-repeat scroll center center rgb(232, 243, 255);
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-align: center;
}
.trendcolor1,
.trendcolor2,
.trendcolor3,
.trendcolor4,
.trendcolor5{
  text-align: center;
}
.trendcolor1{
  color: #fcf7bf;
  background: none repeat scroll 0% 0% #ff014a;
}
.trendcolor2{
  color: rgb(255, 255, 255);
  background: none repeat scroll 0% 0% #5da9c8;
}
.trendcolor3{
  color: rgb(255, 255, 255);
  background: none repeat scroll 0% 0% #f1764b;
}
.trendcolor4{
  color: rgb(255, 255, 255);
  background: none repeat scroll 0% 0% #88c85d;
}
/*帮助中心*/
.help_main .personal_main_macen{
  display: none;
}
.help_main .personal_main_active{
  display: block;
}
.help_main .per_main_rig_main{
  margin-top: 0;
  min-height: 841px;
}
.helpSlider{
    background-color: #E64E4D;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-weight: 100;
    margin: 0;
}
.help_mian_nav {
  margin-top: 0;
}
.help_mian_nav ul li a{
  height: 45px;
  line-height: 45px;
  text-align: left;
  padding-left: 40px;
}
.help_main .basic_information{
  margin:15px;
}
.help_main .basic_information p{
  margin-bottom: 10px;
}
/*游戏规则*/
.jiesao_ks span{
  color: #e31e27;
}
.title_ks{
  text-align: center;
  font-size: 30px;
  margin:20px 0 30px;
}
.introduce_ks{
  min-height:200px;
  overflow: hidden;
  padding-top: 20px;
}
.introduce_ks_main{
  width: 45%;
  float: left;
  border:1px solid #DED5D1;
  border-radius: 5px;
  padding: 20px 10px;
  margin:0 1.53% 30px;
  background: #fdfcfa;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.2);
}
.introduce_left{
  width: 60%;
  float: left;
}
.radio_int span{
  display: inline-block;
  font-size: 20px;
}
.radio_int b{
  font-size: 30px;
}
.center_ks_int p{
  text-align: center;
  font-size: 18px;  
  color: #e31e27;
}
.introduce_right{
  width: 40%;
  float: left;
}
.center_ks_intb p{
  margin-top: 5px;
}
.center_ks_intb p:nth-of-type(2) {
  font-size: 18px;
  color: #e31e27;
  text-align: center;
}
.text_main_intr{
  background: #fdfcfa;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 3px;
}
.text_main_intr_ula,
.text_main_intr_ula ul{
  padding-left: 30px;
}
.text_main_intr_ula li{
  margin-bottom: 10px;
}
.text_main_intr p span{
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #e31e27;
  color: #fff;
  margin-right: 15px; 
}
.help_record_p .introduce_ks_main{
  width: 95%;
}
.help_record_p .introduce_left{
  width: 50%;
}
.help_record_p .radio_int,
.help_record_p .center_ks_intb p{
  text-align: center;
}
/*响应式*/
@media screen and (max-width:1480px ){
  .lottery_nav_center ul li a{
    width: 80px;
  }
}
@media screen and (max-width:1350px ){
  .lottery_nav_center ul li a{
    width: 69px;
  }
  .lottery_logo{
    margin-left: 0;
  }
}
@media screen and (max-width:1250px ){
  .Login-registration a:nth-of-type(2){
    margin:0 5px;
  }
  .lottery_balance a span{
    padding:0;
  }
  .lottery_logo{
    min-width: 170px;
  }
}
