<!--快三投注页面-->
<main>
<div class="personal_main Betting_main">
	<!--左边导航-->
	<div class="Betting_main_left">
		<div class="sonal_main_lef_nav Betting_main_lef_nav">
		<p><span>各地区快三</span></p>
			<ul>
				<li><a href="#personal-a" class="left-nav-active">江苏快三</a></li>
				<li><a href="#persona2-b">北京快三</a></li>
				<li><a href="#persona3-c">安徽快三</a></li>
				<li><a href="#persona4-d">广西快三</a></li>	
				<li><a href="#persona5-e">湖北快三</a></li>
				<li><a href="#persona6-f">河北快三</a></li>
				<li><a href="#persona7-g">上海快三</a></li>
				<li><a href="#persona8-h">甘肃快三</a></li>
				<li><a href="#persona9-i">分分快三</a></li>
			</ul>
		</div>
	</div>
	<!--右边内容-->
	<div class="personal_main_right Betting_main_right">
		<div class="Betting_main_macen">
			<div class="Betting_main_rig_top">
				<div class="Betting_logo_left">
					<img src="image/JSSB3.png" alt="">
					<p><span>江苏快三</span></p>
				</div>
				<div class="Betting_main_center">
					<div class="bettThe_otterya">
						<div>
							<p>开奖号码</p>
							<p><span>2016121611</span>期</p>
							<p><a href="" target="_blank" class="bt01"><i class="iconfont">&#xe62a;</i>号码走势</a></p>
						</div>
					</div>
					<div class="bettThe_otteryb">
						<p>
							<span>3</span>
							<span>5</span>
							<span>0</span>
						</p>
					</div>
					<div class="bettThe_otteryc">
						<div>
							<p>和值：<span>13</span> </p>
							<p>型态：<span>大</span><span>单</span></p>
						</div>
					</div>
				</div>
				<div class="Betting_time_right">
					<div class="time_left">
						<div>
							<p>投注剩余时间</p>
							<p><span>20170829</span>期</p>
						</div>
					</div>
					<div class="time_right">
						<div class="time_right_main">
							<div class="clock flip-clock-wrapper"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="Betting_main_rig_main">
				<!--选项卡-->
				<div class="brigtinh_main_top rig_main_zla active_zla">
					<a href="#HZ" class="betting_top-active">和值</a>
					<a href="#3THTX">三同号通选</a>
					<a href="#3THDX">三同号单选</a>
					<a href="#3BTH">三不同号</a>
					<a href="#3LHTX">三连号通选</a>
					<a href="#2THFX">二同号复选</a>
					<a href="#2THDX">二同号单选</a>
					<a href="#2BTH">二不同号</a>
				</div>
				<!--和值-->
				<div class="brigtinh_main_cen brigtinh_main_cen_active" id="HZ">
					<div class="brigtinh_main_cenmn">
						<p class="title_Prompt">投注说明：至少选择1个和值投注，选号与开奖的三个号码相加的数值一致即中奖。奖金 1.95-180 倍</p>
						<p class="title_Prompt">投注说明：<span>选号：3</span><span>开奖：1,1,1</span><span>中奖：赔率180</span></p>
						<div class="brigtinh_main_cenle Selected_null">
							<div class="key_shadow">
								<p class="key_shadow_num"><a href="javascript:void(0)">3</a></p>
								<p>赔率：<span>180</span></p>
							</div>
							<div class="key_shadow">
								<p class="key_shadow_num"><a href="javascript:void(0)">4</a></p>
								<p>赔率：<span>60</span></p>
							</div>
							<div class="key_shadow">
								<p class="key_shadow_num"><a href="javascript:void(0)">5</a></p>
								<p>赔率：<span>32.5</span></p>
							</div>
							<div class="key_shadow">
								<p class="key_shadow_num"><a href="javascript:void(0)">6</a></p>
								<p>赔率：<span>20.5</span></p>
							</div>
							<div class="key_shadow">
								<p class="key_shadow_num"><a href="javascript:void(0)">7</a></p>
								<p>赔率：<span>12.5</span></p>
							</div>
							<div class="key_shadow">
								<p class="key_shadow_num"><a href="javascript:void(0)">8</a></p>
								<p>赔率：<span>9.5</span></p>
							</div>
							<div class="key_shadow">
								<p class="key_shadow_num"><a href="javascript:void(0)">9</a></p>
								<p>赔率：<span>8.5</span></p>
							</div>
							<div class="key_shadow">
								<p class="key_shadow_num"><a href="javascript:void(0)">10</a></p>
								<p>赔率：<span>7.5</span></p>
							</div>
							<div class="key_shadow">
								<p class="key_shadow_num"><a href="javascript:void(0)">11</a></p>
								<p>赔率：<span>7.5</span></p>
							</div>
							<div class="key_shadow">
								<p class="key_shadow_num"><a href="javascript:void(0)">12</a></p>
								<p>赔率：<span>8.5</span></p>
							</div>
							<div class="key_shadow">
								<p class="key_shadow_num"><a href="javascript:void(0)">13</a></p>
								<p>赔率：<span>9.5</span></p>
							</div>
							<div class="key_shadow">
								<p class="key_shadow_num"><a href="javascript:void(0)">14</a></p>
								<p>赔率：<span>12.5</span></p>
							</div>
							<div class="key_shadow">
								<p class="key_shadow_num"><a href="javascript:void(0)">15</a></p>
								<p>赔率：<span>20.5</span></p>
							</div>
							<div class="key_shadow">
								<p class="key_shadow_num"><a href="javascript:void(0)">16</a></p>
								<p>赔率：<span>32.5</span></p>
							</div>
							<div class="key_shadow">
								<p class="key_shadow_num"><a href="javascript:void(0)">17</a></p>
								<p>赔率：<span>60</span></p>
							</div>
							<div class="key_shadow">
								<p class="key_shadow_num"><a href="javascript:void(0)">18</a></p>
								<p>赔率：<span>180</span></p>
							</div>
						</div>
						<div class="brigtinh_main_cenri Selected_null">
							<div class="key_shadow2">
								<p class="key_shadow_num2"><a href="javascript:void(0)">单(全部奇数)</a></p>
								<p>赔率：<span>1.95</span></p>
							</div>
							<div class="key_shadow2">
								<p class="key_shadow_num2"><a href="javascript:void(0)">双(全部偶数)</a></p>
								<p>赔率：<span>1.95</span></p>
							</div>
							<div class="key_shadow2">
								<p class="key_shadow_num2"><a href="javascript:void(0)">小(3-10)</a></p>
								<p>赔率：<span>1.95</span></p>
							</div>
							<div class="key_shadow2">
								<p class="key_shadow_num2"><a href="javascript:void(0)">单(11-18)</a></p>
								<p>赔率：<span>1.95</span></p>
							</div>
						</div>
					</div>
				</div>
				<!--三同号通选-->
				<div class="brigtinh_main_cen" id="3THTX">
					<div class="brigtinh_main_cenmn">
						<p class="title_Prompt">投注说明：10元购买6个三同号 (111,222,333,444,555,666) 投注，选号与开奖号码一致即中奖30 倍。</p>
						<p class="title_Prompt">投注说明：<span>选号：三同号通选</span><span>开奖：3,3,3</span><span>中奖：赔率30</span></p>
						<div class="Three_different" id="box_ball_3THTX_num">
							<div class="select_info_text">
                                <a href="javascript:void(0);" class="addbtn_disabled modify_sub">添加到投注列表</a>
                            </div>
						</div>
					</div>
				</div>
				<!--三同号单选-->
				<div class="brigtinh_main_cen" id="3THDX">
					<div class="brigtinh_main_cenmn">
						<p class="title_Prompt">投注说明：至少选择1个三同号投注，选号与开奖号码一致即中奖180倍。</p>
						<p class="title_Prompt">投注说明：<span>选号：5,5,5</span><span>开奖：5,5,5</span><span>中奖：赔率180</span></p>
						<div class="Three_different" id="box_ball_3THDX_num">
							<div class="box_ball_3THDX_main box_ball_wid">
                               <div class="key_shadow">
									<p class="key_shadow_num"><a href="javascript:void(0)">111</a></p>
								</div>
								<div class="key_shadow">
									<p class="key_shadow_num"><a href="javascript:void(0)">222</a></p>
								</div>
								<div class="key_shadow">
									<p class="key_shadow_num"><a href="javascript:void(0)">333</a></p>
								</div>
								<div class="key_shadow">
									<p class="key_shadow_num"><a href="javascript:void(0)">444</a></p>
								</div>
								<div class="key_shadow">
									<p class="key_shadow_num"><a href="javascript:void(0)">555</a></p>
								</div>
								<div class="key_shadow">
									<p class="key_shadow_num"><a href="javascript:void(0)">666</a></p>
								</div>
                             </div>
						</div>
					</div>
				</div>
				<!--三不同号-->
				<div class="brigtinh_main_cen" id="3BTH">
					<div class="brigtinh_main_cenmn">
						<p class="title_Prompt">投注说明：至少选择3个号码投注，选号与开奖号码一致即中奖32.5倍。</p>
						<p class="title_Prompt">投注说明：<span>选号：5,3,6</span><span>开奖：5,3,6</span><span>中奖：赔率32.5</span></p>
						<div class="Three_different" id="box_ball_3BTH_num">
							<div class="box_ball_3BTH_main box_ball_radu">
                               <div class="key_shadow">
									<p class="key_shadow_num"><a href="javascript:void(0)">1</a></p>
								</div>
								<div class="key_shadow">
									<p class="key_shadow_num"><a href="javascript:void(0)">2</a></p>
								</div>
								<div class="key_shadow">
									<p class="key_shadow_num"><a href="javascript:void(0)">3</a></p>
								</div>
								<div class="key_shadow">
									<p class="key_shadow_num"><a href="javascript:void(0)">4</a></p>
								</div>
								<div class="key_shadow">
									<p class="key_shadow_num"><a href="javascript:void(0)">5</a></p>
								</div>
								<div class="key_shadow">
									<p class="key_shadow_num"><a href="javascript:void(0)">6</a></p>
								</div>
                             </div>
                             <a href="javascript:void(0);" class="addbtn_disabled modify_sub">添加到投注列表</a>
						</div>
					</div>
				</div>
				<!--三连号通选-->
				<div class="brigtinh_main_cen" id="3LHTX">
					<div class="brigtinh_main_cenmn">
						<p class="title_Prompt">投注说明：10元购买4个三连号（123、234、345、456）投注，选号与开奖号码一致即中奖8.5倍。</p>
						<p class="title_Prompt">投注说明：<span>选号：三连号</span><span>开奖：4,5,6</span><span>中奖：赔率8.5</span></p>
						<div class="Three_different" id="box_ball_3LHTX_num">
							<div class="select_info_text">
                                <a href="javascript:void(0);" class="addbtn_disabled modify_sub">添加到投注列表</a>
                            </div>
						</div>
					</div>
				</div>
				<!--二同号复选-->
				<div class="brigtinh_main_cen" id="2THFX">
					<div class="brigtinh_main_cenmn">
						<p class="title_Prompt">投注说明： 10元购买1个二同号(11*,22*,33*,44*,55*,66*)投注，选号与开奖号码一致即中奖11.5 倍。</p>
						<p class="title_Prompt">投注说明：<span>选号：5,5</span><span>开奖：5,5,6</span><span>中奖：赔率11.5</span></p>
						<div class="Three_different" id="box_ball_2THFX_num">
							<div class="box_ball_2THFX_main box_ball_wid">
                               <div class="key_shadow">
									<p class="key_shadow_num"><a href="javascript:void(0)">11</a></p>
								</div>
								<div class="key_shadow">
									<p class="key_shadow_num"><a href="javascript:void(0)">22</a></p>
								</div>
								<div class="key_shadow">
									<p class="key_shadow_num"><a href="javascript:void(0)">33</a></p>
								</div>
								<div class="key_shadow">
									<p class="key_shadow_num"><a href="javascript:void(0)">44</a></p>
								</div>
								<div class="key_shadow">
									<p class="key_shadow_num"><a href="javascript:void(0)">55</a></p>
								</div>
								<div class="key_shadow">
									<p class="key_shadow_num"><a href="javascript:void(0)">66</a></p>
								</div>
                             </div>
						</div>
					</div>
				</div>
				<!--二同号单选-->
				<div class="brigtinh_main_cen" id="2THDX">
					<div class="brigtinh_main_cenmn">
						<p class="title_Prompt">投注说明：选择1个相同号码和1个不同号码投注，选号与开奖号码一致即中奖60倍。</p>
						<p class="title_Prompt">投注说明：<span>选号：5,5,6</span><span>开奖：5,5,6</span><span>中奖：赔率60</span></p>
						<div class="Three_different" id="box_ball_2THFX_num">
							<div class="box_ball_2THDX_num box_ball_wid">
                               <div class="key_shadow">
									<p class="key_shadow_num"><a href="javascript:void(0)">11</a></p>
								</div>
								<div class="key_shadow">
									<p class="key_shadow_num"><a href="javascript:void(0)">22</a></p>
								</div>
								<div class="key_shadow">
									<p class="key_shadow_num"><a href="javascript:void(0)">33</a></p>
								</div>
								<div class="key_shadow">
									<p class="key_shadow_num"><a href="javascript:void(0)">44</a></p>
								</div>
								<div class="key_shadow">
									<p class="key_shadow_num"><a href="javascript:void(0)">55</a></p>
								</div>
								<div class="key_shadow">
									<p class="key_shadow_num"><a href="javascript:void(0)">66</a></p>
								</div>
								<div class="key_shadow">
									<p class="key_shadow_num"><a href="javascript:void(0)">1</a></p>
								</div>
								<div class="key_shadow">
									<p class="key_shadow_num"><a href="javascript:void(0)">2</a></p>
								</div>
								<div class="key_shadow">
									<p class="key_shadow_num"><a href="javascript:void(0)">3</a></p>
								</div>
								<div class="key_shadow">
									<p class="key_shadow_num"><a href="javascript:void(0)">4</a></p>
								</div>
								<div class="key_shadow">
									<p class="key_shadow_num"><a href="javascript:void(0)">5</a></p>
								</div>
								<div class="key_shadow">
									<p class="key_shadow_num"><a href="javascript:void(0)">6</a></p>
								</div>
                             </div>
                              <a href="javascript:void(0);" class="addbtn_disabled modify_sub">添加到投注列表</a>
						</div>
					</div>
				</div>
				<!--二不同号-->
				<div class="brigtinh_main_cen" id="2BTH">
					<div class="brigtinh_main_cenmn">
						<p class="title_Prompt">投注说明：至少选择2个号码投注，选号与开奖号码一致即中奖6.5倍。</p>
						<p class="title_Prompt">投注说明：<span>选号：2,3</span><span>开奖：4,3,2</span><span>中奖：赔率6.5</span></p>
						<div class="Three_different" id="box_ball_3BTH_num">
							<div class="box_ball_2BTH box_ball_radu">
                               <div class="key_shadow">
									<p class="key_shadow_num"><a href="javascript:void(0)">1</a></p>
								</div>
								<div class="key_shadow">
									<p class="key_shadow_num"><a href="javascript:void(0)">2</a></p>
								</div>
								<div class="key_shadow">
									<p class="key_shadow_num"><a href="javascript:void(0)">3</a></p>
								</div>
								<div class="key_shadow">
									<p class="key_shadow_num"><a href="javascript:void(0)">4</a></p>
								</div>
								<div class="key_shadow">
									<p class="key_shadow_num"><a href="javascript:void(0)">5</a></p>
								</div>
								<div class="key_shadow">
									<p class="key_shadow_num"><a href="javascript:void(0)">6</a></p>
								</div>
                             </div>
                             <a href="javascript:void(0);" class="addbtn_disabled modify_sub">添加到投注列表</a>
						</div>
					</div>
				</div>
				<!--投注框-->
				<div class="Betting_list_box">
					<p class="bg_top"></p>
					<div class="choose_list_box">
						<div class="chose_list">
							<ul class="has_add_ball" id="has_add_ball">
								<li id="li_HZ_小" data-type="HZ" data-zhushu="1" data-code="小" data-id="box_ball_HZ_c">
									<span class="txt-betsName">[和值]</span>
									<span title="小" class="txt-num js-code">小</span>
									<span class="txt-amount js-money">金额：
									<input type="number" onkeyup="BET.formatIntVal(this)" data-odd="1.95" onafterpaste="BET.formatIntVal(this)" name="totals[]" class="totalsVal" size="6">
									元 <em>可赢：<span class="bingoMoney">3250.0</span> 元</em>
									</span>
									<a href="javascript:void(0);" class="txt-delNum js-del"><i class="iconfont">&#xe629;</i></a>
									<input type="hidden" name="tmpCodes[]" class="tmpCodes" value="小|HZ|和值">
								</li>
								<li id="li_HZ_小" data-type="HZ" data-zhushu="1" data-code="小" data-id="box_ball_HZ_c">
									<span class="txt-betsName">[和值]</span>
									<span title="小" class="txt-num js-code">小</span>
									<span class="txt-amount js-money">金额：
									<input type="number" onkeyup="BET.formatIntVal(this)" data-odd="1.95" onafterpaste="BET.formatIntVal(this)" name="totals[]" class="totalsVal" size="6">
									元 <em>可赢：<span class="bingoMoney">3250.0</span> 元</em>
									</span>
									<a href="javascript:void(0);" class="txt-delNum js-del"><i class="iconfont">&#xe629;</i></a>
									<input type="hidden" name="tmpCodes[]" class="tmpCodes" value="小|HZ|和值">
								</li>
								<li id="li_HZ_小" data-type="HZ" data-zhushu="1" data-code="小" data-id="box_ball_HZ_c">
									<span class="txt-betsName">[和值]</span>
									<span title="小" class="txt-num js-code">小</span>
									<span class="txt-amount js-money">金额：
									<input type="number" onkeyup="BET.formatIntVal(this)" data-odd="1.95" onafterpaste="BET.formatIntVal(this)" name="totals[]" class="totalsVal" size="6">
									元 <em>可赢：<span class="bingoMoney">3250.0</span> 元</em>
									</span>
									<a href="javascript:void(0);" class="txt-delNum js-del"><i class="iconfont">&#xe629;</i></a>
									<input type="hidden" name="tmpCodes[]" class="tmpCodes" value="小|HZ|和值">
								</li>
								<li id="li_HZ_小" data-type="HZ" data-zhushu="1" data-code="小" data-id="box_ball_HZ_c">
									<span class="txt-betsName">[和值]</span>
									<span title="小" class="txt-num js-code">小</span>
									<span class="txt-amount js-money">金额：
									<input type="number" onkeyup="BET.formatIntVal(this)" data-odd="1.95" onafterpaste="BET.formatIntVal(this)" name="totals[]" class="totalsVal" size="6">
									元 <em>可赢：<span class="bingoMoney">3250.0</span> 元</em>
									</span>
									<a href="javascript:void(0);" class="txt-delNum js-del"><i class="iconfont">&#xe629;</i></a>
									<input type="hidden" name="tmpCodes[]" class="tmpCodes" value="小|HZ|和值">
								</li>
								<li id="li_HZ_小" data-type="HZ" data-zhushu="1" data-code="小" data-id="box_ball_HZ_c">
									<span class="txt-betsName">[和值]</span>
									<span title="小" class="txt-num js-code">小</span>
									<span class="txt-amount js-money">金额：
									<input type="number" onkeyup="BET.formatIntVal(this)" data-odd="1.95" onafterpaste="BET.formatIntVal(this)" name="totals[]" class="totalsVal" size="6">
									元 <em>可赢：<span class="bingoMoney">3250.0</span> 元</em>
									</span>
									<a href="javascript:void(0);" class="txt-delNum js-del"><i class="iconfont">&#xe629;</i></a>
									<input type="hidden" name="tmpCodes[]" class="tmpCodes" value="小|HZ|和值">
								</li>
							</ul>
						</div>
						<hr class="style12">
					</div>
					<!--投注和购买方式-->
					<div class="choose_list_boxri">
						<div class="mode">
                          	<input type="hidden" name="_token" value="p39tumGfQRmDyOGdCiTADpLDcZIzepNDNeHFiGV5">
                          	<ul>
							<li class="mode_li basic_information_c">
								<label for="">购买方式：</label>
								<label class="basic_radio_label">
									<input class="mui-checkbox checkbox-s checkbox-orange" id="daigou" type="radio" name="buyType" value="zhuihao" checked="">
									<i class="iconfont checkbox-i">&#xe628;</i>
									代购
								</label>
								<label class="basic_radio_label">
									<input class="mui-checkbox checkbox-s checkbox-orange" id="buyType" type="radio" name="buyType" value="daigou">
									<i class="iconfont checkbox-i">&#xe628;</i>
									追号
								</label>
							</li>
     					  	<li class="mode_lia">	
								<label>统一金额：</label>
								<input type="number" onfocus="$(this).select()" id="unifiedPrice" onkeyup="BET.formatIntValAndReplaceAll(this)" onafterpaste="BET.formatIntValAndReplaceAll(this)" value="0">
     					   	</li>
     					   	<li class="mode_lic">
								<button class="modify_sub">立即投注</button>
								<button class="modify_sub">清空列表</button>
     					   	</li>			   
                          	</ul>
                        </div>
					</div>
				</div>
				<!--提示-->
				<p class="system_Prompt">10 分钟一期，返奖率95% 销售时间：8:29-22:09</p>
				<!--投注记录-->
				<div class="Accordion_Record">
					<div class="Accordion_Record_main" style="display: block;">
		                    <div class="child">
		                        <div class="childTitle">
		                            <div class="childIcon">
		                                <div class="sub sub1">
		                                </div>
		                                <div class="sub sub2">
		                                </div>
		                            </div>
		                            <div class="title">
		                                <p>江苏快三近期投注记录</p>
		                            </div>
		                        </div>
		                        <div class="childContent">
		                          <p class="record_p">最近12小时无投注记录</p>
		                          <div class="basic_information">
										<div class="table_betting_main table_betting_active">
											 <table class="table_reference"> 
										       <thead class="tbody_referencea">
										          <tr> 
										            <th><span>彩票类型</span></th> 
										            <th><span>彩票期号</span></th> 
										            <th><span>投注类型</span></th>
										            <th><span>投注号码</span></th> 
										            <th><span>投注金额</span></th> 
										            <th><span>中奖金额</span></th> 
										            <th><span>开奖号码</span></th> 
										            <th><span>中奖状态</span></th> 
										            <th><span>投注时间</span></th>  
										          </tr> 
										         </thead> 
										         <tbody class="tbody_referencec"><tr></tr></tbody>
										         <tbody class="tbody_referenceb tbody_referencebc">  
										          <tr class="screen_nowin_a"> 
										            <td><span>北京快三</span></td> 
										            <td><span>86452</span></td> 
										            <td><span>和值</span></td>
										            <td><span>双</span></td>
										            <td><span>10.00</span></td>
										            <td><span>19.50</span></td>
										            <td><span>1,4,4</span></td>
										            <td><span class="tdbetting-active-b">未开奖</span></td>
										            <td><span>2017-08-23 16:46:29</span></td>
										          </tr>
										           <tr class="screen_winning_a"> 
										            <td><span>北京快三</span></td> 
										            <td><span>20170823-050</span></td> 
										            <td><span>和值</span></td>
										            <td><span>双</span></td>
										            <td><span>10.00</span></td>
										            <td><span class="tdbetting-active">19.50</span></td>
										            <td><span>1,4,4</span></td>
										            <td><span class="tdbetting-active-aa">中奖</span></td>
										            <td><span>2017-08-23 16:46:29</span></td>
										          </tr>
										           <tr> 
										            <td><span>北京快三</span></td> 
										            <td><span>86452</span></td> 
										            <td><span>和值</span></td>
										            <td><span>双</span></td>
										            <td><span>10.00</span></td>
										            <td><span>19.50</span></td>
										            <td><span>1,4,4</span></td>
										            <td><span>未中奖</span></td>
										            <td><span>2017-08-23 16:46:29</span></td>
										          </tr>
										          <tr class="screen_winning_a"> 
										            <td><span>北京快三</span></td> 
										            <td><span>20170823-050</span></td> 
										            <td><span>和值</span></td>
										            <td><span>双</span></td>
										            <td><span>10.00</span></td>
										            <td><span class="tdbetting-active">19.50</span></td>
										            <td><span>1,4,4</span></td>
										            <td><span class="tdbetting-active-aa">中奖</span></td>
										            <td><span>2017-08-23 16:46:29</span></td>
										          </tr>
										           <tr> 
										            <td><span>北京快三</span></td> 
										            <td><span>86452</span></td> 
										            <td><span>和值</span></td>
										            <td><span>双</span></td>
										            <td><span>10.00</span></td>
										            <td><span>19.50</span></td>
										            <td><span>1,4,4</span></td>
										            <td><span>未中奖</span></td>
										            <td><span>2017-08-23 16:46:29</span></td>
										          </tr>
										           <tr class="screen_winning_a"> 
										            <td ><span>北京快三</span></td> 
										            <td><span>20170823-050</span></td> 
										            <td><span>和值</span></td>
										            <td><span>双</span></td>
										            <td><span>10.00</span></td>
										            <td><span class="tdbetting-active">19.50</span></td>
										            <td><span>1,4,4</span></td>
										            <td><span class="tdbetting-active-aa">中奖</span></td>
										            <td><span>2017-08-23 16:46:29</span></td>
										          </tr>
										          <tr class="screen_nowin_a"> 
										            <td><span>北京快三</span></td> 
										            <td><span>86452</span></td> 
										            <td><span>和值</span></td>
										            <td><span>双</span></td>
										            <td><span>10.00</span></td>
										            <td><span>19.50</span></td>
										            <td><span>1,4,4</span></td>
										            <td><span class="tdbetting-active-b">未开奖</span></td>
										            <td><span>2017-08-23 16:46:29</span></td>
										          </tr>
										           <tr class="screen_winning_a"> 
										            <td><span>北京快三</span></td> 
										            <td><span>20170823-050</span></td> 
										            <td><span>和值</span></td>
										            <td><span>双</span></td>
										            <td><span>10.00</span></td>
										            <td><span class="tdbetting-active">19.50</span></td>
										            <td><span>1,4,4</span></td>
										            <td><span class="tdbetting-active-aa">中奖</span></td>
										            <td><span>2017-08-23 16:46:29</span></td>
										          </tr>
										          <tr class="screen_nowin_a"> 
										            <td><span>北京快三</span></td> 
										            <td><span>86452</span></td> 
										            <td><span>和值</span></td>
										            <td><span>双</span></td>
										            <td><span>10.00</span></td>
										            <td><span>19.50</span></td>
										            <td><span>1,4,4</span></td>
										            <td><span class="tdbetting-active-b">未开奖</span></td>
										            <td><span>2017-08-23 16:46:29</span></td>
										          </tr>
										           <tr> 
										            <td><span>北京快三</span></td> 
										            <td><span>86452</span></td> 
										            <td><span>和值</span></td>
										            <td><span>双</span></td>
										            <td><span>10.00</span></td>
										            <td><span>19.50</span></td>
										            <td><span>1,4,4</span></td>
										            <td><span>未中奖</span></td>
										            <td><span>2017-08-23 16:46:29</span></td>
										          </tr>
										           <tr> 
										            <td><span>北京快三</span></td> 
										            <td><span>86452</span></td> 
										            <td><span>和值</span></td>
										            <td><span>双</span></td>
										            <td><span>10.00</span></td>
										            <td><span>19.50</span></td>
										            <td><span>1,4,4</span></td>
										            <td><span>未中奖</span></td>
										            <td><span>2017-08-23 16:46:29</span></td>
										          </tr> 
										        </tbody>
										      </table>
										      <hr class="style12">
										</div>
									</div>
		                        </div>
		                    </div>
		                    <!--开奖公告-->
		                    <div class="child">
		                        <div class="childTitle">
		                            <div class="childIcon">
		                                <div class="sub sub1">
		                                </div>
		                                <div class="sub sub2">
		                                </div>
		                            </div>
		                            <div class="title">
		                                <p>江苏快3开奖公告</p>
		                            </div>
		                        </div>
		                        <div class="childContent" style="display: none;">
		                           <p class="record_p">最近12小时无开奖记录</p>
		                            <div class="basic_information">
										<div class="table_betting_main table_betting_active">
											 <table class="table_reference"> 
										       <thead class="tbody_referencea">
										          <tr> 
										            <th><span>期号</span></th> 
										            <th><span>奖号</span></th> 
										            <th><span>和值</span></th>
										            <th><span>形态</span></th> 
										          </tr> 
										         </thead> 
										         <tbody class="tbody_referencec"><tr></tr></tbody>
										         <tbody class="tbody_referenceb tbody_referencebc">  
										          <tr class="screen_nowin_a"> 
										            <td><span>20170830-082</span></td> 
										            <td><span class="color_red_da">2,5,6</span></td> 
										            <td><span>13</span></td>
										            <td><span class="Cl_ico da_icoa">大</span>|<span class="Cl_ico dan_icob">单</span></td>
										          </tr>
										           <tr class="screen_nowin_a"> 
										            <td><span>20170830-082</span></td> 
										            <td><span class="color_red_da">2,5,6</span></td> 
										            <td><span>13</span></td>
										            <td><span class="Cl_ico xiao_icoc">小</span>|<span class="Cl_ico shuang_icod">双</span></td>
										          </tr>
										        </tbody>
										      </table>
										      <hr class="style12">
										</div>
									</div>
		                        </div>
		                    </div>
		                </div>
	                </div>
			</div>
		</div>	
	</div>
</div>
</main>